* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}
*:lang(en) {
  direction: ltr;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
*:lang(en):not(.fa, .far, .fab, .fas, .lni) {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #004c70 !important;
}

.text-brown {
  color: #6fb728 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #bce791 !important;
}

.text-blue {
  color: #005085 !important;
  text-decoration: none;
  transition: all 0.4s;
}
.text-blue:hover {
  color: #0d77be !important;
}

.mirror-x:lang(en) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.adjusted-icon {
  position: relative;
  top: 2px;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #004c70;
  width: 220px;
  border: 1px solid #004c70;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.theme-btn:lang(en)::before {
  left: -100%;
  right: auto;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}
.theme-btn:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.theme-btn.danger {
  border: 1px solid #ff4e4e !important;
  color: #ff4e4e !important;
}
.theme-btn.danger::before {
  background-color: #ff4e4e !important;
}
.theme-btn.danger:hover {
  color: #ffffff !important;
}
.theme-btn.danger:hover::before {
  right: 0;
  z-index: -1;
}

.separator {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.separator::before, .separator::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28%;
  height: 1px;
  background-color: #d4d4d4;
}
@media screen and (max-width: 1024px) {
  .separator::before, .separator::after {
    width: 25%;
  }
}
@media screen and (max-width: 575px) {
  .separator::before, .separator::after {
    width: 20%;
  }
}
@media screen and (max-width: 350px) {
  .separator::before, .separator::after {
    width: 17%;
  }
}
@media screen and (max-width: 300px) {
  .separator::before, .separator::after {
    width: 13%;
  }
}
.separator::after {
  left: auto;
  right: 0;
}

.section-head {
  margin-bottom: 5rem;
}
@media screen and (max-width: 576px) {
  .section-head {
    margin-bottom: 2rem;
  }
}
.section-head span {
  color: #004c70;
}
.section-head .main-head {
  position: relative;
  font-size: 1.5rem;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.section-head-sm {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 576px) {
  .section-head-sm {
    margin-bottom: 1.5rem;
  }
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper:not(.header-swiper) {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper:not(.header-swiper) {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #6eb727;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #6eb727;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #004c70;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #004c70;
  font-weight: 600;
}

.swiper-button-next {
  right: -60px !important;
}

.swiper-button-prev {
  left: -60px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.job-item:lang(en) {
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: 100%;
  }
}
.job-item.job-item-lg {
  grid-template-columns: 15% 85%;
  padding-bottom: 2rem !important;
}
@media screen and (max-width: 1400px) {
  .job-item.job-item-lg {
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 768px) {
  .job-item.job-item-lg {
    grid-template-columns: 100%;
  }
}
.job-item.job-item-lg .bookmark {
  left: 10px;
  top: 10px;
}
.job-item.job-item-lg .bookmark:lang(en) {
  left: auto;
  right: 10px;
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .bookmark:lang(en) {
  left: auto;
  right: 5px;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #004c70;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #6fb728;
  color: #6fb728;
}
.job-item .apply-btn:lang(en) {
  left: auto;
  right: 15px;
}
.job-item .apply-btn::before {
  background-color: #6fb728;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.form-check-input:checked {
  background-color: #004c70;
  border-color: #004c70;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.dot.online {
  background-color: #40f78c;
}
.dot.offline {
  background-color: #ff0000;
}

.text-online {
  color: #40f78c;
}

.text-offline {
  color: #ff5555;
}

/* Nice Selector */
.nice-selector {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 1px solid #ced4da;
}

.nice-select {
  padding-right: 0.9rem;
}
.nice-select:lang(en) {
  padding-right: 1.8rem;
}
.nice-select .current {
  display: block;
  text-align: right;
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}
.nice-select .current:lang(en) {
  text-align: left;
}
.nice-select::after {
  left: 15px;
  right: auto;
}
.nice-select:lang(en)::after {
  right: 15px;
  left: auto;
}
.nice-select .list {
  position: absolute;
  top: 100%;
  width: auto !important;
  min-width: 100% !important;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #004c70 #e7e7e7;
  /* Track */
  /* Handle */
  /* Handle on hover */
  text-align: right;
}
.nice-select .list::-webkit-scrollbar {
  width: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nice-select .list::-webkit-scrollbar-thumb {
  background: #004c70;
  border-radius: 50px;
}
.nice-select .list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nice-select .list li {
  text-align: right;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.nice-select .list li:lang(en) {
  text-align: left;
}

.candidate-card {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 0 5px #eeeeee;
  border-radius: 10px;
  text-align: center;
}
.candidate-card .image {
  margin-bottom: 1rem;
}
.candidate-card .image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.candidate-card .name {
  display: block;
  color: #004c70;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: all 0.4s;
}
.candidate-card .name:hover {
  color: #0080bd;
}
.candidate-card .desc {
  color: #696969;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.candidate-card .meta {
  color: #005085;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.candidate-card .actions a {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #6fb728;
  margin-left: 0.6rem;
  border: 1px solid #6fb728;
  transition: all 0.4s;
}
.candidate-card .actions a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.candidate-card .actions a:last-child {
  margin-left: 0;
}

.join-link {
  display: inline-block;
  min-width: 250px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #131d02;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
}
.join-link:hover {
  color: #2da860;
}

.bubble-link {
  position: relative;
  display: inline-block;
}
.bubble-link::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s;
}
.bubble-link:hover {
  box-shadow: 0 0 -4px #ffffff;
}
.bubble-link:hover::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 0;
  z-index: 1;
}

section.middle {
  padding: 50px 0 50px;
}

/* Accordion Design */
.accordion .card-header {
  padding: 1rem 1rem;
  background: transparent;
  margin: 0;
  display: block;
  border: none;
}
.accordion .card-header button {
  color: #121212;
  font-weight: 500;
  padding: 0;
  display: block;
  display: inline-block;
  width: 100%;
  text-align: left;
  outline: none;
  box-shadow: none;
  text-decoration: initial;
  word-wrap: break-word;
  white-space: normal;
}
.accordion .card-header button:lang(ar) {
  text-align: right;
}
.accordion .card-body {
  padding-top: 0px;
}

.collapsible-link:before,
.accordion .btn-link:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  left: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link:after,
.accordion .btn-link:after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded=true]:after,
.accordion .btn-link[aria-expanded=true]:after {
  transform: rotate(90deg) translateX(1px);
}

.collapsible-link[aria-expanded=true]:before,
.accordion .btn-link[aria-expanded=true]:before {
  transform: rotate(180deg);
}

.card-header {
  position: relative;
}

.accordion .card {
  border-color: #e8edf7;
  margin-bottom: 10px;
  border: 1px solid #e9ecef;
}

.accordion_title,
.accordion .card-header h5 {
  text-transform: capitalize;
  font-size: 16px;
}

.section-caption {
  font-size: 28px;
}

.normal-h1 {
  font-size: 36px;
}

.row-separator {
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-ul li {
  padding-right: 12px;
  margin-bottom: 10px;
}
.theme-ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #004c70;
  font-weight: 600;
}

.theme-pagination {
  text-align: center;
}
.theme-pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #6fb728;
  color: #6fb728;
  transition: all 0.4s;
}
.theme-pagination a.text-link {
  width: 80px;
  border-radius: 50px;
}
.theme-pagination a.active {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a.disabled {
  pointer-events: none;
  color: #acacac;
  border-color: #acacac;
}

.no-animation {
  animation: none !important;
}

.std-logo {
  max-width: 160px;
  height: auto;
  border-radius: 50px;
}

.h1-sm {
  font-size: 1.5rem;
}

.h4-sm {
  font-size: 1.2rem;
}

.max-width-100 {
  max-width: 100% !important;
}

.page-container {
  display: flex;
  transition: 0.4s;
}
.page-container .dashboard-sidebar {
  width: 22%;
  background-color: #004c70;
  height: 100vh;
  padding: 2rem;
  transition: all 0.4s;
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .page-container .dashboard-sidebar {
    width: 23%;
  }
}
@media screen and (max-width: 1500px) {
  .page-container .dashboard-sidebar {
    width: 25%;
  }
}
@media screen and (max-width: 1400px) {
  .page-container .dashboard-sidebar {
    width: 32%;
  }
}
@media screen and (max-width: 1300px) {
  .page-container .dashboard-sidebar {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .page-container .dashboard-sidebar {
    width: 33%;
  }
}
@media screen and (max-width: 1024px) {
  .page-container .dashboard-sidebar {
    width: 32%;
  }
}
@media screen and (max-width: 768px) {
  .page-container .dashboard-sidebar {
    width: 45%;
  }
}
@media screen and (max-width: 575px) {
  .page-container .dashboard-sidebar {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    right: -800px;
    z-index: 1000;
  }
}
.page-container .dashboard-sidebar::-webkit-scrollbar {
  width: 5px;
}
.page-container .dashboard-sidebar::-webkit-scrollbar-track {
  background-color: #cccccc;
}
.page-container .dashboard-sidebar::-webkit-scrollbar-thumb {
  background-color: #1abb50;
  border-radius: 50px;
}
.page-container .dashboard-sidebar .sidebar-closer {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.2rem;
}
.page-container .dashboard-sidebar .logo {
  margin-bottom: 3rem;
}
.page-container .dashboard-sidebar .user {
  position: relative;
  display: flex;
  justify-content: start;
  margin-bottom: 4rem;
  border-radius: 10px;
}
.page-container .dashboard-sidebar .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1rem;
}
.page-container .dashboard-sidebar .user img:lang(en) {
  margin-left: 0;
  margin-right: 1rem;
}
.page-container .dashboard-sidebar .user .meta .name {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0;
}
.page-container .dashboard-sidebar .user .dropdown {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.page-container .dashboard-sidebar .user .dropdown:lang(en) {
  left: auto;
  right: 0;
}
.page-container .dashboard-sidebar .user .dropdown button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu {
  border-radius: 10px;
  padding: 0;
  min-width: 200px;
  background-color: #ffffff;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu li {
  border-bottom: 1px solid #e6e6e6;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu li:last-child {
  border-bottom: none;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu li:last-child li {
  border-radius: 10px;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu .dropdown-item {
  padding: 0.8rem 1rem;
  width: 100%;
  transition: all 0.4s;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu .dropdown-item:lang(en) {
  text-align: left;
}
.page-container .dashboard-sidebar .user .dropdown .dropdown-menu .dropdown-item:hover {
  color: #004c70;
}
.page-container .dashboard-sidebar .side-links-list {
  list-style: none;
  padding: 0;
}
.page-container .dashboard-sidebar .side-links-list .side-item {
  position: relative;
  margin-bottom: 1.6rem;
  cursor: pointer;
}
.page-container .dashboard-sidebar .side-links-list .side-item:hover .side-link {
  color: #90ff74;
}
.page-container .dashboard-sidebar .side-links-list .side-item:hover .ico {
  color: #90ff74;
}
.page-container .dashboard-sidebar .side-links-list .side-item:last-child {
  margin-bottom: 0;
}
.page-container .dashboard-sidebar .side-links-list .side-item .side-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  width: 70%;
  transition: all 0.4s;
}
.page-container .dashboard-sidebar .side-links-list .side-item .side-link i,
.page-container .dashboard-sidebar .side-links-list .side-item .side-link img {
  font-size: 20px;
  width: 25px;
  margin-left: 0.8rem;
  transition: all 0.4s;
}
.page-container .dashboard-sidebar .side-links-list .side-item .side-link i:lang(en),
.page-container .dashboard-sidebar .side-links-list .side-item .side-link img:lang(en) {
  margin-right: 0.8rem;
  margin-left: 0;
}
.page-container .dashboard-sidebar .side-links-list .side-item .side-link .text {
  font-size: 0.95rem;
  font-weight: 400;
}
.page-container .dashboard-sidebar .side-links-list .side-item .ico {
  float: left;
  font-size: 1.5rem;
  color: #ffffff;
  transition: all 0.4s;
}
.page-container .dashboard-sidebar .side-links-list .side-item .ico:lang(en) {
  float: right;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.page-container .dashboard-sidebar .side-links-list .side-item .sep-side-link + .ico {
  color: #ef7968 !important;
}
.page-container .dashboard-sidebar .side-links-list .side-item .badge {
  position: relative;
  top: 4px;
  float: left;
  width: 50px;
  height: 20px;
  background-color: #fd9292;
  color: #ffffff;
  border-radius: 50px;
}
.page-container .dashboard-sidebar .side-links-list .side-item .badge:lang(en) {
  float: right;
}
.page-container .dashboard-sidebar .side-links-list .side-item .submenu {
  display: none;
  margin-top: 1rem;
}
.page-container .dashboard-sidebar .side-links-list .side-item .submenu a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  padding-right: 2.2rem;
  margin-bottom: 0.75rem;
  transition: all 0.4s;
}
.page-container .dashboard-sidebar .side-links-list .side-item .submenu a:lang(en) {
  padding-right: 0;
  padding-left: 2.2rem;
}
.page-container .dashboard-sidebar .side-links-list .side-item .submenu a i {
  font-size: 0.78rem;
}
.page-container .dashboard-sidebar .side-links-list .side-item .submenu a:hover {
  color: #90ff74;
}
.page-container .dashboard-sidebar .side-links-list .side-item .submenu a.active {
  color: #90ff74;
}
.page-container .dashboard-sidebar .hint {
  display: flex;
  justify-content: start;
  padding: 1.2rem;
  background-color: #f3ffe4;
  border-radius: 10px;
  margin-top: 2.5rem;
  font-size: 0.95rem;
}
.page-container .dashboard-sidebar .hint i {
  color: #3dc71a;
}
.page-container .dashboard-sidebar .footer {
  margin-top: 3rem;
}
.page-container .dashboard-sidebar .logo-icon {
  display: none;
}
.page-container .page-body {
  width: 82%;
  transition: all 0.4s;
}
@media screen and (max-width: 1600px) {
  .page-container .page-body {
    width: 80%;
  }
}
@media screen and (max-width: 1500px) {
  .page-container .page-body {
    width: 78%;
  }
}
@media screen and (max-width: 1400px) {
  .page-container .page-body {
    width: 77%;
  }
}
@media screen and (max-width: 1300px) {
  .page-container .page-body {
    width: 73%;
  }
}
@media screen and (max-width: 1200px) {
  .page-container .page-body {
    width: 71%;
  }
}
@media screen and (max-width: 1024px) {
  .page-container .page-body {
    width: 68%;
  }
}
@media screen and (max-width: 768px) {
  .page-container .page-body {
    width: 55%;
  }
}
@media screen and (max-width: 575px) {
  .page-container .page-body {
    width: 100%;
  }
}
.page-container.collapsed .std-logo {
  display: none;
}
.page-container.collapsed .dashboard-sidebar {
  width: 5%;
}
@media screen and (max-width: 1600px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 6%;
  }
}
@media screen and (max-width: 1400px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 7%;
  }
}
@media screen and (max-width: 1300px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 8%;
  }
}
@media screen and (max-width: 1200px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 8%;
  }
}
@media screen and (max-width: 1024px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 9%;
  }
}
@media screen and (max-width: 768px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 12%;
  }
}
@media screen and (max-width: 650px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 16%;
  }
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .dashboard-sidebar {
    width: 100%;
  }
}
.page-container.collapsed .page-body {
  width: 95%;
}
@media screen and (max-width: 1600px) {
  .page-container.collapsed .page-body {
    width: 94%;
  }
}
@media screen and (max-width: 1400px) {
  .page-container.collapsed .page-body {
    width: 93%;
  }
}
@media screen and (max-width: 1300px) {
  .page-container.collapsed .page-body {
    width: 92%;
  }
}
@media screen and (max-width: 1200px) {
  .page-container.collapsed .page-body {
    width: 92%;
  }
}
@media screen and (max-width: 1024px) {
  .page-container.collapsed .page-body {
    width: 91%;
  }
}
@media screen and (max-width: 768px) {
  .page-container.collapsed .page-body {
    width: 88%;
  }
}
@media screen and (max-width: 650px) {
  .page-container.collapsed .page-body {
    width: 84%;
  }
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .page-body {
    width: 100%;
  }
}
.page-container.collapsed .brand {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .brand {
    display: inline-block;
  }
}
.page-container.collapsed .logo-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .logo-icon {
    display: none;
  }
}
.page-container.collapsed .user .meta {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .user .meta {
    display: inline-block;
  }
}
.page-container.collapsed .user .dropdown {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .user .dropdown {
    display: inline-block;
  }
}
.page-container.collapsed .user img {
  margin-left: 0;
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .user img {
    margin-left: 0.5rem;
  }
}
.page-container.collapsed .side-link .text {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .side-link .text {
    display: inline-block;
  }
}
.page-container.collapsed .side-link + .ico, .page-container.collapsed .side-link + .badge {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .side-link + .ico, .page-container.collapsed .side-link + .badge {
    display: inline;
  }
}
.page-container.collapsed .side-link img {
  width: 32px !important;
  height: auto;
}
.page-container.collapsed .hint {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .hint {
    display: block;
  }
}
.page-container.collapsed .footer {
  display: none;
}
@media screen and (max-width: 575px) {
  .page-container.collapsed .footer {
    display: block;
  }
}

.page-body .header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 4px 2px -2px #eeeeee;
}
@media screen and (max-width: 767px) {
  .page-body .header {
    padding: 1rem;
  }
}
.page-body .header .controls-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.page-body .header .controls-wrapper .sidebar-toggler {
  background-color: transparent;
  color: #004c70;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 2rem;
  margin-left: 4rem;
}
@media screen and (max-width: 1600px) {
  .page-body .header .controls-wrapper .sidebar-toggler {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 1199px) {
  .page-body .header .controls-wrapper .sidebar-toggler {
    margin-left: 1rem;
  }
}
.page-body .header .controls-wrapper .sidebar-toggler:lang(en) {
  margin-right: 4rem;
  margin-left: 0;
}
@media screen and (max-width: 1600px) {
  .page-body .header .controls-wrapper .sidebar-toggler:lang(en) {
    margin-right: 2rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .page-body .header .controls-wrapper .sidebar-toggler:lang(en) {
    margin-right: 1rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .page-body .header .controls-wrapper .brand {
    display: none;
  }
}
.page-body .header .controls-wrapper .brand img {
  width: 150px;
  height: auto;
}
@media screen and (max-width: 1300px) {
  .page-body .header .controls-wrapper .brand img {
    width: 120px;
  }
}
.page-body .header .header-search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.page-body .header .header-search-form-container .add-job-btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background-color: #004c70;
  color: #ffffff;
  border: none;
  box-shadow: none;
  outline: none;
  transition: all 0.4s;
}
.page-body .header .header-search-form-container .add-job-btn:hover {
  background-color: #1abb50;
}
@media screen and (max-width: 576px) {
  .page-body .header .header-search-form-container .add-job-btn {
    display: none;
  }
}
.page-body .header .header-search-form-container .input-wrapper {
  position: relative;
  margin-left: 1rem;
}
.page-body .header .header-search-form-container .input-wrapper:lang(en) {
  margin-left: 0;
  margin-right: 1rem;
}
@media screen and (max-width: 1199px) {
  .page-body .header .header-search-form-container .input-wrapper {
    margin-left: 0.6rem;
  }
}
.page-body .header .header-search-form-container .input-wrapper .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #004c70;
}
.page-body .header .header-search-form-container .input-wrapper .icon:lang(en) {
  left: auto;
  right: 20px;
}
.page-body .header .header-search-form-container .input-wrapper input {
  height: 40px;
  width: 400px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
  padding: 1.7rem;
}
@media screen and (max-width: 2000px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 750px;
  }
}
@media screen and (max-width: 1900px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 720px;
  }
}
@media screen and (max-width: 1800px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 620px;
  }
}
@media screen and (max-width: 1700px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 520px;
  }
}
@media screen and (max-width: 1600px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 400px;
  }
}
@media screen and (max-width: 1500px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 350px;
  }
}
@media screen and (max-width: 1400px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 320px;
  }
}
@media screen and (max-width: 1300px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 250px;
  }
}
@media screen and (max-width: 1199px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 240px;
  }
}
@media screen and (max-width: 300px) {
  .page-body .header .header-search-form-container .input-wrapper input {
    width: 190px;
  }
}
.page-body .header .links-wrapper {
  display: flex;
  justify-content: flex-end;
}
.page-body .header .links-wrapper button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin-left: 2rem;
}
.page-body .header .links-wrapper button:lang(en) {
  margin-left: 0;
  margin-right: 2rem;
}
@media screen and (max-width: 1300px) {
  .page-body .header .links-wrapper button {
    margin-left: 1.3rem;
  }
  .page-body .header .links-wrapper button:lang(en) {
    margin-left: 0;
    margin-right: 1.3rem;
  }
}
.page-body .header .links-wrapper button:last-child {
  margin-left: 0;
}
@media screen and (max-width: 1199px) {
  .page-body .header .links-wrapper button.widget {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .page-body .header .links-wrapper button.profile-btn {
    display: none;
  }
}
.page-body .header .links-wrapper button img {
  width: 35px;
  height: 35px;
}
.page-body .header .links-wrapper button .badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -0.8rem;
  top: -0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff7070;
  text-align: center;
  z-index: 10;
}
.page-body .header .links-wrapper button .profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/*# sourceMappingURL=layout.css.map */
