* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}
*:lang(en) {
  direction: ltr;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
*:lang(en):not(.fa, .far, .fab, .fas, .lni) {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #004c70 !important;
}

.text-brown {
  color: #6fb728 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #bce791 !important;
}

.text-blue {
  color: #005085 !important;
  text-decoration: none;
  transition: all 0.4s;
}
.text-blue:hover {
  color: #0d77be !important;
}

.mirror-x:lang(en) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.adjusted-icon {
  position: relative;
  top: 2px;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #004c70;
  width: 220px;
  border: 1px solid #004c70;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.theme-btn:lang(en)::before {
  left: -100%;
  right: auto;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}
.theme-btn:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.theme-btn.danger {
  border: 1px solid #ff4e4e !important;
  color: #ff4e4e !important;
}
.theme-btn.danger::before {
  background-color: #ff4e4e !important;
}
.theme-btn.danger:hover {
  color: #ffffff !important;
}
.theme-btn.danger:hover::before {
  right: 0;
  z-index: -1;
}

.separator {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.separator::before, .separator::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28%;
  height: 1px;
  background-color: #d4d4d4;
}
@media screen and (max-width: 1024px) {
  .separator::before, .separator::after {
    width: 25%;
  }
}
@media screen and (max-width: 575px) {
  .separator::before, .separator::after {
    width: 20%;
  }
}
@media screen and (max-width: 350px) {
  .separator::before, .separator::after {
    width: 17%;
  }
}
@media screen and (max-width: 300px) {
  .separator::before, .separator::after {
    width: 13%;
  }
}
.separator::after {
  left: auto;
  right: 0;
}

.section-head {
  margin-bottom: 5rem;
}
@media screen and (max-width: 576px) {
  .section-head {
    margin-bottom: 2rem;
  }
}
.section-head span {
  color: #004c70;
}
.section-head .main-head {
  position: relative;
  font-size: 1.5rem;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.section-head-sm {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 576px) {
  .section-head-sm {
    margin-bottom: 1.5rem;
  }
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper:not(.header-swiper) {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper:not(.header-swiper) {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #6eb727;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #6eb727;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #004c70;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #004c70;
  font-weight: 600;
}

.swiper-button-next {
  right: -60px !important;
}

.swiper-button-prev {
  left: -60px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.job-item:lang(en) {
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: 100%;
  }
}
.job-item.job-item-lg {
  grid-template-columns: 15% 85%;
  padding-bottom: 2rem !important;
}
@media screen and (max-width: 1400px) {
  .job-item.job-item-lg {
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 768px) {
  .job-item.job-item-lg {
    grid-template-columns: 100%;
  }
}
.job-item.job-item-lg .bookmark {
  left: 10px;
  top: 10px;
}
.job-item.job-item-lg .bookmark:lang(en) {
  left: auto;
  right: 10px;
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .bookmark:lang(en) {
  left: auto;
  right: 5px;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #004c70;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #6fb728;
  color: #6fb728;
}
.job-item .apply-btn:lang(en) {
  left: auto;
  right: 15px;
}
.job-item .apply-btn::before {
  background-color: #6fb728;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.form-check-input:checked {
  background-color: #004c70;
  border-color: #004c70;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.dot.online {
  background-color: #40f78c;
}
.dot.offline {
  background-color: #ff0000;
}

.text-online {
  color: #40f78c;
}

.text-offline {
  color: #ff5555;
}

/* Nice Selector */
.nice-selector {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 1px solid #ced4da;
}

.nice-select {
  padding-right: 0.9rem;
}
.nice-select:lang(en) {
  padding-right: 1.8rem;
}
.nice-select .current {
  display: block;
  text-align: right;
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}
.nice-select .current:lang(en) {
  text-align: left;
}
.nice-select.no-top .current {
  top: auto !important;
}
.nice-select::after {
  left: 15px;
  right: auto;
}
.nice-select:lang(en)::after {
  right: 15px;
  left: auto;
}
.nice-select .list {
  position: absolute;
  top: 100%;
  width: auto !important;
  min-width: 100% !important;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #004c70 #e7e7e7;
  /* Track */
  /* Handle */
  /* Handle on hover */
  text-align: right;
}
.nice-select .list::-webkit-scrollbar {
  width: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nice-select .list::-webkit-scrollbar-thumb {
  background: #004c70;
  border-radius: 50px;
}
.nice-select .list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nice-select .list li {
  text-align: right;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.nice-select .list li:lang(en) {
  text-align: left;
}

.candidate-card {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 5px #eeeeee;
  border-radius: 10px;
  text-align: right;
}
@media screen and (max-width: 1300px) {
  .candidate-card {
    padding: 1.5rem;
  }
}
.candidate-card:lang(en) {
  text-align: left;
}
.candidate-card .head {
  display: flex;
  justify-content: start !important;
  margin-bottom: 1rem;
  align-items: center;
}
.candidate-card .image {
  text-align: center;
  margin-left: 10px;
}
.candidate-card .image:lang(en) {
  margin-left: 0;
  margin-right: 10px;
}
.candidate-card .image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.candidate-card .name {
  display: block;
  color: #004c70;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.4s;
}
.candidate-card .name:hover {
  color: #0080bd;
}
.candidate-card .desc {
  color: #696969;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.candidate-card .meta {
  color: #8f8f8f;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.candidate-card .actions a {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #6fb728;
  margin-left: 0.6rem;
  border: 1px solid #6fb728;
  transition: all 0.4s;
}
.candidate-card .actions a:lang(en) {
  margin-left: 0;
  margin-right: 0.6rem;
}
.candidate-card .actions a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.candidate-card .actions a:last-child {
  margin-left: 0;
}
.candidate-card .actions a:lang(en):last-child {
  margin-right: 0;
}

.join-link {
  display: inline-block;
  min-width: 250px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #131d02;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
}
.join-link:hover {
  color: #2da860;
}

.bubble-link {
  position: relative;
  display: inline-block;
}
.bubble-link::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s;
}
.bubble-link:hover {
  box-shadow: 0 0 -4px #ffffff;
}
.bubble-link:hover::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 0;
  z-index: 1;
}

section.middle {
  padding: 50px 0 50px;
}

/* Accordion Design */
.accordion .card-header {
  padding: 1rem 1rem;
  background: transparent;
  margin: 0;
  display: block;
  border: none;
}
.accordion .card-header button {
  color: #121212;
  font-weight: 500;
  padding: 0;
  display: block;
  display: inline-block;
  width: 100%;
  text-align: left;
  outline: none;
  box-shadow: none;
  text-decoration: initial;
  word-wrap: break-word;
  white-space: normal;
}
.accordion .card-header button:lang(ar) {
  text-align: right;
}
.accordion .card-body {
  padding-top: 0px;
}

.collapsible-link:before,
.accordion .btn-link:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  left: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link:after,
.accordion .btn-link:after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded=true]:after,
.accordion .btn-link[aria-expanded=true]:after {
  transform: rotate(90deg) translateX(1px);
}

.collapsible-link[aria-expanded=true]:before,
.accordion .btn-link[aria-expanded=true]:before {
  transform: rotate(180deg);
}

.card-header {
  position: relative;
}

.accordion .card {
  border-color: #e8edf7;
  margin-bottom: 10px;
  border: 1px solid #e9ecef;
}

.accordion_title,
.accordion .card-header h5 {
  text-transform: capitalize;
  font-size: 16px;
}

.section-caption {
  font-size: 28px;
}

.normal-h1 {
  font-size: 36px;
}

.row-separator {
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-ul li {
  padding-right: 12px;
  margin-bottom: 10px;
}
.theme-ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #004c70;
  font-weight: 600;
}

.theme-pagination {
  text-align: center;
}
.theme-pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #6fb728;
  color: #6fb728;
  transition: all 0.4s;
}
.theme-pagination a.text-link {
  width: 80px;
  border-radius: 50px;
}
.theme-pagination a.active {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a.disabled {
  pointer-events: none;
  color: #acacac;
  border-color: #acacac;
}

.no-animation {
  animation: none !important;
}

.std-logo {
  max-width: 160px;
  height: auto;
  border-radius: 50px;
}

.h1-sm {
  font-size: 1.5rem;
}

.h4-sm {
  font-size: 1.2rem;
}

.max-width-100 {
  max-width: 100% !important;
}

body {
  background-color: #f8f8f8;
}

.page-content {
  padding: 2rem;
  height: calc(100vh - 120px);
  overflow: auto;
}
@media screen and (max-width: 1400px) {
  .page-content {
    padding: 1rem;
  }
}
.page-content .statistics-card {
  box-shadow: 0 0 5px #dfdfdf;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem;
}
.page-content .statistics-card .head {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.page-content .statistics-card .head small {
  display: inline-block;
  position: relative;
  top: -5px;
  font-size: 1.2rem;
  margin-right: 1rem;
  font-weight: 500;
}
.page-content .statistics-card .desc {
  font-size: 1rem;
  margin-bottom: 0;
  display: inline-block;
  background-color: #004381;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.page-content .dashboard-card {
  box-shadow: 0 0 5px #dfdfdf;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 2rem;
}
@media screen and (max-width: 1400px) {
  .page-content .dashboard-card {
    padding: 2rem 1.25rem;
  }
}
.page-content .dashboard-card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.page-content .dashboard-card .head .dropdown button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
.page-content .dashboard-card .head .dropdown .dropdown-menu {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #eeeeee;
  padding: 0;
}
.page-content .dashboard-card .head .dropdown .dropdown-menu .dropdown-item {
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
}
.page-content .dashboard-card .content .person-item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.page-content .dashboard-card .content .person-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 0.7rem;
  box-shadow: 0 0 5px #eeeeee;
}
.page-content .dashboard-card .content .person-item .meta {
  display: flex;
  flex-direction: column;
}
.page-content .dashboard-card .content .person-item .meta .name {
  font-weight: 600;
  color: #004381;
  text-decoration: none;
  transition: all 0.4s;
}
.page-content .dashboard-card .content .person-item .meta .name:hover {
  color: #0365c2;
}
.page-content .dashboard-card .content .person-item .meta .title {
  color: #7a7a7a;
}
.page-content .dashboard-card .content .job-item {
  padding-bottom: 3.5rem;
}
.page-content .job-form .input-wrapper {
  position: relative;
}
.page-content .job-form .input-wrapper .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1.2rem;
  font-size: 20px;
  color: #004c70;
}
.page-content .job-form .input-wrapper .icon:lang(en) {
  right: auto;
  left: 1.2rem;
}
.page-content .job-form .input-wrapper input {
  border: none;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 0.9rem 3rem 0.9rem 0.9rem;
  outline: none;
  box-shadow: none;
}
.page-content .job-form .input-wrapper input:lang(en) {
  padding: 0.9rem 0.9rem 0.9rem 3rem;
}
.page-content .job-form .input-wrapper .nice-selector {
  border: 1px solid #e6e6e6 !important;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.page-content .job-form .input-wrapper .select2.select2-container {
  width: 100% !important;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.page-content .job-form .input-wrapper .select2.select2-container .select2-selection--multiple {
  height: 50px !important;
  border: none;
}
.page-content .job-form .input-wrapper .select2.select2-container .select2-search__field {
  padding: 0 15px;
}
.page-content .jobs-filter-section {
  padding-top: 2rem;
  overflow: hidden;
}
.page-content .jobs-filter-section .filter-conainer {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #eeeeee;
}
.page-content .jobs-filter-section .filter-category {
  padding: 1rem 0;
  border-bottom: 1px solid #dadada;
  margin-top: 1.2rem;
  transition: all 0.6s;
}
.page-content .jobs-filter-section .filter-category .head {
  margin-bottom: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.page-content .jobs-filter-section .filter-category .content {
  overflow: hidden;
  transition: all 0.6s;
}
.page-content .jobs-filter-section .filter-category .content .form-check {
  position: relative;
  margin-bottom: 0.325rem;
  padding-left: 2rem;
}
.page-content .jobs-filter-section .filter-category .content .form-check:lang(en) {
  padding-right: 2rem;
  padding-left: 0;
}
.page-content .jobs-filter-section .filter-category .content .form-check input {
  margin-left: 0;
}
.page-content .jobs-filter-section .filter-category .content .form-check label {
  margin-right: 1rem;
}
.page-content .jobs-filter-section .filter-category .content .form-check label:lang(en) {
  margin-right: 0;
  margin-left: 1rem;
}
.page-content .jobs-filter-section .filter-category .content .form-check .count {
  color: #038db8;
  position: absolute;
  left: 5px;
}
.page-content .jobs-filter-section .filter-category .content .form-check .count:lang(en) {
  right: 5px;
  left: auto;
}
.page-content .jobs-filter-section .filter-category.content-hidden .head .plus {
  display: inline-block;
}
.page-content .jobs-filter-section .filter-category.content-hidden .head .minus {
  display: none;
}
.page-content .jobs-filter-section .filter-category.content-hidden .content {
  max-height: 0;
}
.page-content .jobs-filter-section .filter-category.content-shown .head .minus {
  display: inline-block;
}
.page-content .jobs-filter-section .filter-category.content-shown .head .plus {
  display: none;
}
.page-content .jobs-filter-section .filter-category.content-shown .content {
  max-height: 320px;
}
.page-content .jobs-filter-section .filter-category:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
.page-content .profile-section {
  overflow: hidden;
}
.page-content .profile-section .info-section {
  background-color: #ffffff;
}
.page-content .profile-section .info-section .cover img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 5px #d3d3d3;
}
.page-content .profile-section .info-section .avatar {
  position: relative;
  top: -120px;
  right: 50px;
}
.page-content .profile-section .info-section .avatar:lang(en) {
  right: auto;
  left: 50px;
}
.page-content .profile-section .info-section .avatar img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #000000;
}
.page-content .profile-section .info-section .meta {
  position: relative;
  top: -140px;
  left: 20px;
}
.page-content .profile-section .info-section .meta:lang(en) {
  left: auto;
  right: 50px;
}
@media screen and (max-width: 768px) {
  .page-content .profile-section .info-section .meta {
    top: -80px;
  }
}
@media screen and (max-width: 575px) {
  .page-content .profile-section .info-section .meta {
    top: -100px;
  }
  .page-content .profile-section .info-section .meta:lang(en) {
    right: 0;
  }
}
.page-content .profile-section .info-section .meta .dropdown button {
  display: flex;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 1.7rem;
  vertical-align: middle;
  color: #004c70;
}
.page-content .profile-section .info-section .meta .theme-btn {
  border: 1px solid #004c70;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.page-content .profile-section .info-section .meta .theme-btn:lang(en) {
  margin-right: 1rem;
  margin-left: 0;
}
.page-content .profile-section .info-section .meta .dropdown-menu {
  padding: 0;
  border: none;
  box-shadow: 0 0 5px #eeeeee;
  border-radius: 10px;
}
.page-content .profile-section .info-section .meta .dropdown-menu li a {
  padding: 0.85rem;
  border-bottom: 1px solid #efefef;
}
.page-content .profile-section .info-section .main-info {
  position: relative;
  top: -150px;
  right: 20px;
  padding: 1.5rem;
}
.page-content .profile-section .info-section .main-info:lang(en) {
  right: auto;
  left: 30px;
}
@media screen and (max-width: 768px) {
  .page-content .profile-section .info-section .main-info {
    top: -60px;
  }
}
@media screen and (max-width: 575px) {
  .page-content .profile-section .info-section .main-info {
    top: -90px;
  }
}
.page-content .profile-section .info-section .main-info .title {
  color: #7a7a7a;
}
.page-content .profile-section .info-section .description {
  position: relative;
  top: -160px;
  right: 20px;
  padding: 1.5rem;
  width: 80%;
  max-width: 1000px;
}
.page-content .profile-section .info-section .description:lang(en) {
  left: 30px;
  right: 0;
}
@media screen and (max-width: 768px) {
  .page-content .profile-section .info-section .description {
    top: -90px;
  }
}
@media screen and (max-width: 575px) {
  .page-content .profile-section .info-section .description {
    top: -120px;
  }
}
.page-content .profile-section .info-section .description .title {
  color: #7a7a7a;
}
.page-content .profile-section .info-section .description h5 {
  margin-bottom: 1rem;
}
.page-content .profile-section .info-section .description ul li {
  padding-right: 0.7rem;
}
.page-content .profile-section .info-section .description ul li:lang(en) {
  padding-right: 0;
  padding-left: 0.7rem;
}
.page-content .profile-section .info-section .description ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #004c70;
  font-weight: 700;
}
.page-content .profile-section .info-section .form-container {
  padding: 0 2.5rem;
}
.page-content .profile-section .info-section .action {
  position: relative;
  padding: 0 2rem;
  padding-bottom: 50px;
}
@media screen and (max-width: 575px) {
  .page-content .profile-section .info-section .action {
    top: -80px;
  }
}
.page-content .profile-section .info-section .action .theme-btn {
  border-radius: 10px;
}
.page-content .job-details-section .candidate-item {
  border-bottom: 1px solid #eeeeee;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page-content .job-details-section .candidate-item:first-child {
  padding-top: 0;
}
.page-content .job-details-section .candidate-item:last-child {
  border-bottom: none;
}
.page-content .job-details-section .candidate-item .wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.page-content .job-details-section .candidate-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 0.7rem;
  box-shadow: 0 0 5px #eeeeee;
}
.page-content .job-details-section .candidate-item .meta {
  display: flex;
  flex-direction: column;
}
.page-content .job-details-section .candidate-item .meta .name {
  font-weight: 600;
  color: #004381;
  text-decoration: none;
  transition: all 0.4s;
}
.page-content .job-details-section .candidate-item .meta .name:hover {
  color: #0365c2;
}
.page-content .job-details-section .candidate-item .meta .title {
  color: #7a7a7a;
}
.page-content .job-details-section .candidate-item button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #004c70;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
}
.page-content .job-details-section .candidate-item button:hover {
  background-color: #1db100;
}
.page-content .job-details-section .candidate-item button:first-child {
  margin-left: 0.5rem;
}
.page-content .job-details-section .candidate-item button.reject-btn {
  background-color: #ff4040;
}
.page-content .job-details-section .candidate-item button.reject-btn:hover {
  background-color: #e65151;
}

/* ************************** */
.table-job-stages {
  border: 1px solid #dadada;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  border-radius: 7px;
}
.table-job-stages li {
  width: 120px;
  position: relative;
  padding: 5px 15px;
}
.table-job-stages li span {
  font-size: 12px;
}
.table-job-stages li:not(:first-child) {
  padding-right: 22px;
}
.table-job-stages li:lang(en):not(:first-child) {
  padding-left: 22px;
  padding-right: 10px;
}
.table-job-stages li::before {
  content: "";
  position: absolute;
  right: 100%;
  top: -10%;
  width: 1px;
  height: 70%;
  background-color: #dadada;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.table-job-stages li::after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: -10%;
  width: 1px;
  height: 70%;
  background-color: #dadada;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.table-job-stages li:lang(en)::before {
  left: 100%;
  right: auto;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.table-job-stages li:lang(en)::after {
  left: 100%;
  right: auto;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.table-job-stages li:last-child::after, .table-job-stages li:last-child::before {
  display: none;
}
.table-job-stages.full-width-stages {
  width: 100%;
  background-color: #ffffff;
  overflow-x: auto;
}
.table-job-stages.full-width-stages li {
  width: 25% !important;
  padding: 0;
  border-left: 1px solid #eeeeee;
}
@media screen and (max-width: 575px) {
  .table-job-stages.full-width-stages li {
    min-width: 120px !important;
  }
}
.table-job-stages.full-width-stages li span {
  font-size: 15px;
  color: #000000;
}
.table-job-stages.full-width-stages li a {
  border-radius: 0;
}
.table-job-stages.full-width-stages li a.active {
  background-color: #004381 !important;
  overflow: hidden;
}
.table-job-stages.full-width-stages li a.active span {
  color: #ffffff;
}
.table-job-stages.full-width-stages li::after {
  display: none;
}
.table-job-stages.full-width-stages li::before {
  display: none;
}

.mw-100px {
  min-width: 100px !important;
}

.mw-140px {
  min-width: 140px !important;
}

.mw-200px {
  min-width: 200px !important;
}

@media screen and (max-width: 575px) {
  .single_filter {
    width: 100%;
  }
}
.flex-no-wrap {
  flex-wrap: nowrap !important;
}

/*# sourceMappingURL=styles.css.map */
