@import "./global.scss";
.faq-section,
.privacy-section {
  padding-top: 160px;
  padding-bottom: 90px;
}

.aboutus-section {
  padding: 200px 20px 120px;
}

.contactus-section {
  padding: 200px 20px 120px;
  @media screen and (max-width: 768px) {
    padding: 150px 20px 80px;
  }
}

.contactus-section .card-wrap-body {
  background-color: #efefef;
  box-shadow: 0 0 5px #efefef;
  h4 {
    font-size: 20px;
    color: $greenColor;
    font-weight: 500;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 14px;
  }
}

.contact-form {
  input {
    outline: none !important;
    box-shadow: none !important;
    padding: 15px 10px !important;
  }
}

.help-center-card {
  position: relative;
  text-align: center;
  box-shadow: 0 0 5px #cecece;
  padding: 30px;
  border-radius: 20px;
  height: 100%;
  transition: all 0.4s;
  &:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    background-color: #efefef;
  }
  .float-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .icon {
    display: inline-block;
    font-size: 40px;
    color: $greenColor;
    margin-bottom: 20px;
  }
}
