@import "../global.scss";

.dashboard-sidebar {
  background-color: $greenColor;
  position: fixed;
  top: 0;
  right: 0;
  width: 18%;
  height: 100vh;
  padding: 2rem;
  .logo {
    margin-bottom: 2rem;
    text-align: center;
  }
  .user {
    position: relative;
    display: flex;
    justify-content: start;
    margin-bottom: 2.5rem;
    padding: 1rem;
    border-radius: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 1rem;
    }
    .meta {
      .name {
        display: block;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 0;
      }
    }
    .dropdown {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      button {
        border: none;
        outline: none;
        background-color: transparent;
        color: #ffffff;
      }
      .dropdown-menu {
        border-radius: 10px;
        padding: 0;
        min-width: 200px;
        li {
          border-bottom: 1px solid #e6e6e6;
          &:last-child {
            border-bottom: none;
            li {
              border-radius: 10px;
            }
          }
        }
        .dropdown-item {
          padding: 0.8rem 1rem;
          width: 100%;
          transition: all 0.4s;
          &:hover {
            color: $greenColor;
          }
        }
      }
    }
  }
  .side-links-list {
    list-style: none;
    padding: 0;
    .side-item {
      position: relative;
      margin-bottom: 1.6rem;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
      .side-link {
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        transition: all 0.4s;
        img {
          width: 20px;
          margin-left: 1rem;
        }
        .text {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .ico {
        float: left;
        font-size: 1.5rem;
        color: #ffffff;
        transition: all 0.4s;
      }
      .submenu {
        display: none;
        margin-top: 1rem;
        a {
          display: inline-block;
          width: 100%;
          color: #ffffff;
          text-decoration: none;
          padding-right: 2.2rem;
          margin-bottom: 0.75rem;
          transition: all 0.4s;
          i {
            font-size: 0.78rem;
          }
          &:hover {
            color: #90ff74;
          }
          &.active {
            color: #90ff74;
          }
        }
      }
    }
  }
}
