@import "../global.scss";

.page-container {
  display: flex;
  transition: 0.4s;
  .dashboard-sidebar {
    width: 18%;
    @media screen and (max-width: 1600px) {
      width: 20%;
    }
    @media screen and (max-width: 1500px) {
      width: 22%;
    }
    @media screen and (max-width: 1400px) {
      width: 23%;
    }
    @media screen and (max-width: 1300px) {
      width: 27%;
    }
    @media screen and (max-width: 1200px) {
      width: 29%;
    }
    @media screen and (max-width: 1024px) {
      width: 32%;
    }
    @media screen and (max-width: 768px) {
      width: 45%;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
      padding: 1.5rem;
      position: fixed;
      width: 100%;
      top: 0;
      right: -800px;
      z-index: 1000;
    }
    background-color: $mainColor;
    height: 100vh;
    padding: 2rem;
    transition: all 0.4s;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #cccccc;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #1abb50;
      border-radius: 50px;
    }
    .sidebar-closer {
      background-color: transparent;
      color: #ffffff;
      border: none;
      outline: none;
      box-shadow: none;
      font-size: 1.2rem;
    }
    .logo {
      margin-bottom: 3rem;
    }
    .user {
      position: relative;
      display: flex;
      justify-content: start;
      margin-bottom: 4rem;
      border-radius: 10px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 1rem;
        &:lang(en) {
          margin-left: 0;
          margin-right: 1rem;
        }
      }
      .meta {
        .name {
          display: block;
          color: #ffffff;
          text-decoration: none;
          margin-bottom: 0;
        }
      }
      .dropdown {
        position: absolute;
        left: 0;
        &:lang(en) {
          left: auto;
          right: 0;
        }
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 100;
        button {
          border: none;
          outline: none;
          background-color: transparent;
          color: #ffffff;
        }
        .dropdown-menu {
          border-radius: 10px;
          padding: 0;
          min-width: 200px;
          background-color: #ffffff;
          li {
            border-bottom: 1px solid #e6e6e6;
            &:last-child {
              border-bottom: none;
              li {
                border-radius: 10px;
              }
            }
          }
          .dropdown-item {
            padding: 0.8rem 1rem;
            width: 100%;
            transition: all 0.4s;
            &:lang(en) {
              text-align: left;
            }
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
    }
    .side-links-list {
      list-style: none;
      padding: 0;
      .side-item {
        position: relative;
        margin-bottom: 1.6rem;
        cursor: pointer;
        &:hover {
          .side-link {
            color: #90ff74;
          }
          .ico {
            color: #90ff74;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        .side-link {
          color: #ffffff;
          text-decoration: none;
          display: inline-block;
          width: 70%;
          transition: all 0.4s;
          img {
            width: 20px;
            margin-left: 1rem;
            &:lang(en) {
              margin-right: 1rem;
              margin-left: 0;
            }
            transition: all 0.4s;
          }
          .text {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .ico {
          float: left;
          &:lang(en) {
            float: right;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
          font-size: 1.5rem;
          color: #ffffff;
          transition: all 0.4s;
        }
        .badge {
          position: relative;
          top: 4px;
          float: left;
          &:lang(en) {
            float: right;
          }
          width: 50px;
          height: 20px;
          background-color: #fd9292;
          color: #ffffff;
          border-radius: 50px;
        }
        .submenu {
          display: none;
          margin-top: 1rem;
          a {
            display: inline-block;
            width: 100%;
            color: #ffffff;
            text-decoration: none;
            padding-right: 2.2rem;
            margin-bottom: 0.75rem;
            transition: all 0.4s;
            i {
              font-size: 0.78rem;
            }
            &:hover {
              color: #90ff74;
            }
            &.active {
              color: #90ff74;
            }
          }
        }
      }
    }
    .hint {
      display: flex;
      justify-content: start;
      padding: 1.2rem;
      background-color: #f3ffe4;
      border-radius: 10px;
      margin-top: 2.5rem;
      font-size: 0.95rem;
      i {
        color: #3dc71a;
      }
    }
    .footer {
      margin-top: 3rem;
    }
    .logo-icon {
      display: none;
    }
  }
  .page-body {
    width: 82%;
    transition: all 0.4s;
    @media screen and (max-width: 1600px) {
      width: 80%;
    }
    @media screen and (max-width: 1500px) {
      width: 78%;
    }
    @media screen and (max-width: 1400px) {
      width: 77%;
    }
    @media screen and (max-width: 1300px) {
      width: 73%;
    }
    @media screen and (max-width: 1200px) {
      width: 71%;
    }
    @media screen and (max-width: 1024px) {
      width: 68%;
    }
    @media screen and (max-width: 768px) {
      width: 55%;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
  &.collapsed {
    .std-logo {
      display: none;
    }
    .dashboard-sidebar {
      width: 5%;
      @media screen and (max-width: 1600px) {
        width: 6%;
      }
      @media screen and (max-width: 1400px) {
        width: 7%;
      }
      @media screen and (max-width: 1300px) {
        width: 8%;
      }
      @media screen and (max-width: 1200px) {
        width: 8%;
      }
      @media screen and (max-width: 1024px) {
        width: 9%;
      }
      @media screen and (max-width: 768px) {
        width: 12%;
      }
      @media screen and (max-width: 650px) {
        width: 16%;
      }
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
    .page-body {
      width: 95%;
      @media screen and (max-width: 1600px) {
        width: 94%;
      }
      @media screen and (max-width: 1400px) {
        width: 93%;
      }
      @media screen and (max-width: 1300px) {
        width: 92%;
      }
      @media screen and (max-width: 1200px) {
        width: 92%;
      }
      @media screen and (max-width: 1024px) {
        width: 91%;
      }
      @media screen and (max-width: 768px) {
        width: 88%;
      }
      @media screen and (max-width: 650px) {
        width: 84%;
      }
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
    .brand {
      display: none;
      @media screen and (max-width: 575px) {
        display: inline-block;
      }
    }
    .logo-icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      @media screen and (max-width: 575px) {
        display: none;
      }
    }
    .user {
      .meta {
        display: none;
        @media screen and (max-width: 575px) {
          display: inline-block;
        }
      }
      .dropdown {
        display: none;
        @media screen and (max-width: 575px) {
          display: inline-block;
        }
      }
      img {
        margin-left: 0;
        width: 32px;
        height: 32px;
        @media screen and (max-width: 575px) {
          margin-left: 0.5rem;
        }
      }
    }
    .side-link {
      .text {
        display: none;
        @media screen and (max-width: 575px) {
          display: inline-block;
        }
      }
      & + .ico,
      & + .badge {
        display: none;
        @media screen and (max-width: 575px) {
          display: inline;
        }
      }
      img {
        width: 32px !important;
        height: auto;
      }
    }
    .hint {
      display: none;
      @media screen and (max-width: 575px) {
        display: block;
      }
    }
    .footer {
      display: none;
      @media screen and (max-width: 575px) {
        display: block;
      }
    }
  }
}

.page-body {
  .header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 4px 2px -2px #eeeeee;
    @media screen and (max-width: 767px) {
      padding: 1rem;
    }
    .controls-wrapper {
      display: flex;
      justify-content: start;
      align-items: center;
      .sidebar-toggler {
        background-color: transparent;
        color: $mainColor;
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 2rem;
        margin-left: 4rem;
        @media screen and (max-width: 1600px) {
          margin-left: 2rem;
        }
        @media screen and (max-width: 1199px) {
          margin-left: 1rem;
        }
      }
      .brand {
        @media screen and (max-width: 1199px) {
          display: none;
        }
        img {
          width: 150px;
          height: auto;
          @media screen and (max-width: 1300px) {
            width: 120px;
          }
        }
      }
    }
    .header-search-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      .add-job-btn {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 5px;
        background-color: $mainColor;
        color: #ffffff;
        border: none;
        box-shadow: none;
        outline: none;
        transition: all 0.4s;
        &:hover {
          background-color: #1abb50;
        }
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
      .input-wrapper {
        position: relative;
        margin-left: 1rem;
        &:lang(en) {
          margin-left: 0;
          margin-right: 1rem;
        }
        @media screen and (max-width: 1199px) {
          margin-left: 0.6rem;
        }
        .icon {
          position: absolute;
          left: 20px;
          &:lang(en) {
            left: auto;
            right: 20px;
          }
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 1.5rem;
          color: $mainColor;
        }
        input {
          height: 40px;
          width: 400px;
          outline: none;
          box-shadow: none;
          border-radius: 5px;
          background-color: #f3f3f3;
          border: none;
          padding: 1.7rem;
          @media screen and (max-width: 2000px) {
            width: 750px;
          }
          @media screen and (max-width: 1900px) {
            width: 720px;
          }
          @media screen and (max-width: 1800px) {
            width: 620px;
          }
          @media screen and (max-width: 1700px) {
            width: 520px;
          }
          @media screen and (max-width: 1600px) {
            width: 400px;
          }
          @media screen and (max-width: 1500px) {
            width: 350px;
          }
          @media screen and (max-width: 1400px) {
            width: 320px;
          }
          @media screen and (max-width: 1300px) {
            width: 250px;
          }
          @media screen and (max-width: 1199px) {
            width: 240px;
          }
          @media screen and (max-width: 300px) {
            width: 190px;
          }
        }
      }
    }
    .links-wrapper {
      display: flex;
      justify-content: flex-end;
      button {
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        margin-left: 2rem;
        &:lang(en) {
          margin-left: 0;
          margin-right: 2rem;
        }
        @media screen and (max-width: 1300px) {
          margin-left: 1.3rem;
          &:lang(en) {
            margin-left: 0;
            margin-right: 1.3rem;
          }
        }
        &:last-child {
          margin-left: 0;
        }
        &.widget {
          @media screen and (max-width: 1199px) {
            display: none;
          }
        }
        &.profile-btn {
          @media screen and (max-width: 1199px) {
            display: none;
          }
        }
        img {
          width: 35px;
          height: 35px;
        }
        .badge {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: -0.8rem;
          top: -0.5rem;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #ff7070;
          text-align: center;
          z-index: 10;
        }
        .profile {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
      }
    }
  }
}
