@import "../global.scss";
body {
  background-color: #f8f8f8;
}
.page-content {
  padding: 2rem;
  height: calc(100vh - 120px);
  overflow: auto;
  @media screen and (max-width: 1400px) {
    padding: 1rem;
  }
  .statistics-card {
    box-shadow: 0 0 5px #dfdfdf;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    .head {
      font-weight: 700;
      margin-bottom: 0.5rem;
      small {
        display: inline-block;
        position: relative;
        top: -5px;
        font-size: 1.2rem;
        margin-right: 1rem;
        font-weight: 500;
      }
    }
    .desc {
      font-size: 1rem;
      margin-bottom: 0;
      display: inline-block;
      background-color: #004381;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      color: #ffffff;
    }
  }
  .dashboard-card {
    box-shadow: 0 0 5px #dfdfdf;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 2rem;
    @media screen and (max-width: 1400px) {
      padding: 2rem 1.25rem;
    }
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      .dropdown {
        button {
          background-color: transparent;
          border: none;
          box-shadow: none;
          outline: none;
        }
        .dropdown-menu {
          border: none;
          border-radius: 10px;
          box-shadow: 0 0 5px #eeeeee;
          padding: 0;
          .dropdown-item {
            padding: 1rem;
            border-bottom: 1px solid #f1f1f1;
          }
        }
      }
    }
    .content {
      .person-item {
        display: flex;
        justify-content: start;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-left: 0.7rem;
          box-shadow: 0 0 5px #eeeeee;
        }
        .meta {
          display: flex;
          flex-direction: column;
          .name {
            font-weight: 600;
            color: #004381;
            text-decoration: none;
            transition: all 0.4s;
            &:hover {
              color: #0365c2;
            }
          }
          .title {
            color: #7a7a7a;
          }
        }
      }
      .job-item {
        padding-bottom: 3.5rem;
      }
    }
  }
  .job-form {
    .input-wrapper {
      position: relative;
      .icon {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 1.2rem;
        font-size: 20px;
        &:lang(en) {
          right: auto;
          left: 1.2rem;
        }
        color: $mainColor;
      }
      input {
        border: none;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        padding: 0.9rem 3rem 0.9rem 0.9rem;
        &:lang(en) {
          padding: 0.9rem 0.9rem 0.9rem 3rem;
        }
        outline: none;
        box-shadow: none;
      }
      .nice-selector {
        border: 1px solid #e6e6e6 !important;
        border: none;
        outline: none !important;
        box-shadow: none !important;
      }
      .select2 {
        &.select2-container {
          width: 100% !important;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          .select2-selection--multiple {
            height: 50px !important;
            border: none;
          }
          .select2-search__field {
            padding: 0 15px;
          }
        }
      }
    }
  }
  .jobs-filter-section {
    padding-top: 2rem;
    overflow: hidden;
    .filter-conainer {
      background-color: #ffffff;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 0 5px #eeeeee;
    }
    .filter-category {
      padding: 1rem 0;
      border-bottom: 1px solid #dadada;
      margin-top: 1.2rem;
      transition: all 0.6s;
      .head {
        margin-bottom: 1rem;
        font-weight: 600;
        cursor: pointer;
      }
      .content {
        overflow: hidden;
        transition: all 0.6s;
        .form-check {
          position: relative;
          margin-bottom: 0.325rem;
          padding-left: 2rem;
          &:lang(en) {
            padding-right: 2rem;
            padding-left: 0;
          }
          input {
            margin-left: 0;
          }
          label {
            margin-right: 1rem;
            &:lang(en) {
              margin-right: 0;
              margin-left: 1rem;
            }
          }
          .count {
            color: #038db8;
            position: absolute;
            left: 5px;
            &:lang(en) {
              right: 5px;
              left: auto;
            }
          }
        }
      }
      &.content-hidden {
        .head {
          .plus {
            display: inline-block;
          }
          .minus {
            display: none;
          }
        }
        .content {
          max-height: 0;
        }
      }
      &.content-shown {
        .head {
          .minus {
            display: inline-block;
          }
          .plus {
            display: none;
          }
        }
        .content {
          max-height: 320px;
        }
      }
      &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
  .profile-section {
    overflow: hidden;
    .info-section {
      background-color: #ffffff;
      .cover {
        img {
          display: block;
          width: 100%;
          height: auto;
          max-height: 400px;
          object-fit: cover;
          object-position: top;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          box-shadow: 0 0 5px #d3d3d3;
        }
      }
      .avatar {
        position: relative;
        top: -120px;
        right: 50px;
        &:lang(en) {
          right: auto;
          left: 50px;
        }
        img {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 5px solid #000000;
        }
      }
      .meta {
        position: relative;
        top: -140px;
        left: 20px;
        &:lang(en) {
          left: auto;
          right: 50px;
        }
        @media screen and (max-width: 768px) {
          top: -80px;
        }
        @media screen and (max-width: 575px) {
          top: -100px;
          &:lang(en) {
            right: 0;
          }
        }
        .dropdown {
          button {
            display: flex;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            font-size: 1.7rem;
            vertical-align: middle;
            color: $mainColor;
          }
        }

        .theme-btn {
          border: 1px solid $mainColor;
          margin-left: 1rem;
          border-radius: 10px;
          padding: 0.5rem;
          &:lang(en) {
            margin-right: 1rem;
            margin-left: 0;
          }
        }
        .dropdown-menu {
          padding: 0;
          border: none;
          box-shadow: 0 0 5px #eeeeee;
          border-radius: 10px;
          li {
            a {
              padding: 0.85rem;
              border-bottom: 1px solid #efefef;
            }
          }
        }
      }
      .main-info {
        position: relative;
        top: -150px;
        right: 20px;
        padding: 1.5rem;
        &:lang(en) {
          right: auto;
          left: 30px;
        }
        @media screen and (max-width: 768px) {
          top: -60px;
        }
        @media screen and (max-width: 575px) {
          top: -90px;
        }
        .title {
          color: #7a7a7a;
        }
      }
      .description {
        position: relative;
        top: -160px;
        right: 20px;
        padding: 1.5rem;
        width: 80%;
        max-width: 1000px;
        &:lang(en) {
          left: 30px;
          right: 0;
        }
        @media screen and (max-width: 768px) {
          top: -90px;
        }
        @media screen and (max-width: 575px) {
          top: -120px;
        }
        .title {
          color: #7a7a7a;
        }
        h5 {
          margin-bottom: 1rem;
        }
        ul {
          li {
            padding-right: 0.7rem;
            &:lang(en) {
              padding-right: 0;
              padding-left: 0.7rem;
            }
            &::marker {
              content: "\f058";
              font-family: "Font Awesome 5 Free";
              color: $mainColor;
              font-weight: 700;
            }
          }
        }
      }
      .form-container {
        padding: 0 2.5rem;
      }
      .action {
        position: relative;
        padding: 0 2rem;
        padding-bottom: 50px;
        @media screen and (max-width: 575px) {
          top: -80px;
        }
        .theme-btn {
          border-radius: 10px;
        }
      }
    }
  }
  .job-details-section {
    .candidate-item {
      border-bottom: 1px solid #eeeeee;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
      .wrapper {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 0.7rem;
        box-shadow: 0 0 5px #eeeeee;
      }
      .meta {
        display: flex;
        flex-direction: column;
        .name {
          font-weight: 600;
          color: #004381;
          text-decoration: none;
          transition: all 0.4s;
          &:hover {
            color: #0365c2;
          }
        }
        .title {
          color: #7a7a7a;
        }
      }
      button {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: $mainColor;
        color: #ffffff;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        transition: all 0.4s;
        &:hover {
          background-color: #1db100;
        }
        &:first-child {
          margin-left: 0.5rem;
        }
        &.reject-btn {
          background-color: #ff4040;
          &:hover {
            background-color: #e65151;
          }
        }
      }
    }
  }
}

/* ************************** */

.table-job-stages {
  border: 1px solid #dadada;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  border-radius: 7px;
  li {
    width: 120px;
    position: relative;
    padding: 5px 15px;
    span {
      font-size: 12px;
    }
    &:not(:first-child) {
      padding-right: 22px;
    }
    &:lang(en) {
      &:not(:first-child) {
        padding-left: 22px;
        padding-right: 10px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: -10%;
      width: 1px;
      height: 70%;
      background-color: #dadada;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      right: 100%;
      bottom: -10%;
      width: 1px;
      height: 70%;
      background-color: #dadada;
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    }
    &:lang(en) {
      &::before {
        left: 100%;
        right: auto;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
      &::after {
        left: 100%;
        right: auto;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }
    }
    &:last-child {
      &::after,
      &::before {
        display: none;
      }
    }
  }
  &.full-width-stages {
    width: 100%;
    background-color: #ffffff;
    overflow-x: auto;
    li {
      width: 25% !important;
      @media screen and (max-width: 575px) {
        min-width: 120px !important;
      }
      padding: 0;
      border-left: 1px solid #eeeeee;
      span {
        font-size: 15px;
        color: #000000;
      }
      a {
        border-radius: 0;
        &.active {
          background-color: #004381 !important;
          overflow: hidden;
          span {
            color: #ffffff;
          }
        }
      }

      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
  }
}

.mw-100px {
  min-width: 100px !important;
}
.mw-140px {
  min-width: 140px !important;
}
.mw-200px {
  min-width: 200px !important;
}

@media screen and (max-width: 575px) {
  .single_filter {
    width: 100%;
  }
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
}
