* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #327950 !important;
}

.text-brown {
  color: #a07832 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #dcc08f !important;
}

.text-blue {
  color: #005085 !important;
  text-decoration: none;
  transition: all 0.4s;
}
.text-blue:hover {
  color: #0d77be !important;
}

.adjusted-icon {
  position: relative;
  top: 2px;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #327950;
  width: 220px;
  border: 1px solid #327950;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #327950;
  transition: all 0.6s;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}
.theme-btn.danger {
  border: 1px solid #ff4e4e !important;
  color: #ff4e4e !important;
}
.theme-btn.danger::before {
  background-color: #ff4e4e !important;
}
.theme-btn.danger:hover {
  color: #ffffff !important;
}
.theme-btn.danger:hover::before {
  right: 0;
  z-index: -1;
}

.separator {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.separator::before, .separator::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28%;
  height: 1px;
  background-color: #d4d4d4;
}
@media screen and (max-width: 1024px) {
  .separator::before, .separator::after {
    width: 25%;
  }
}
@media screen and (max-width: 575px) {
  .separator::before, .separator::after {
    width: 20%;
  }
}
@media screen and (max-width: 350px) {
  .separator::before, .separator::after {
    width: 17%;
  }
}
@media screen and (max-width: 300px) {
  .separator::before, .separator::after {
    width: 13%;
  }
}
.separator::after {
  left: auto;
  right: 0;
}

.section-head {
  margin-bottom: 5rem;
}
@media screen and (max-width: 576px) {
  .section-head {
    margin-bottom: 2rem;
  }
}
.section-head span {
  color: #a07832;
}
.section-head .main-head {
  position: relative;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper:not(.header-swiper) {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper:not(.header-swiper) {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #3fd67e;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #3fd67e;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #327950;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #327950;
  font-weight: 600;
}

.swiper-button-next {
  right: -60px !important;
}

.swiper-button-prev {
  left: -60px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: auto;
  }
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #327950;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #a07832;
  color: #a07832;
}
.job-item .apply-btn::before {
  background-color: #a07832;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.form-check-input:checked {
  background-color: #327950;
  border-color: #327950;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.dot.online {
  background-color: #40f78c;
}
.dot.offline {
  background-color: #ff0000;
}

.text-online {
  color: #40f78c;
}

.text-offline {
  color: #ff5555;
}

/* Nice Selector */
.nice-selector {
  height: 100%;
  border-radius: 50px;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 1px solid #ced4da;
}

.nice-select {
  padding-right: 0.9rem;
}
.nice-select .current {
  display: block;
  text-align: right;
}
.nice-select::after {
  left: 15px;
  right: auto;
}
.nice-select .list {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #327950 #e7e7e7;
  /* Track */
  /* Handle */
  /* Handle on hover */
  text-align: right;
}
.nice-select .list::-webkit-scrollbar {
  width: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nice-select .list::-webkit-scrollbar-thumb {
  background: #327950;
  border-radius: 50px;
}
.nice-select .list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nice-select .list li {
  text-align: right;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

.candidate-card {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 0 5px #eeeeee;
  border-radius: 10px;
  text-align: center;
}
.candidate-card .image {
  margin-bottom: 1rem;
}
.candidate-card .image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.candidate-card .name {
  display: block;
  color: #327950;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.candidate-card .desc {
  color: #696969;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.candidate-card .meta {
  color: #005085;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.candidate-card .actions a {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #a07832;
  margin-left: 0.6rem;
  border: 1px solid #a07832;
  transition: all 0.4s;
}
.candidate-card .actions a:hover {
  background-color: #a07832;
  color: #ffffff;
}
.candidate-card .actions a:last-child {
  margin-left: 0;
}

.join-link {
  display: inline-block;
  min-width: 250px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #131d02;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
}
.join-link:hover {
  color: #2da860;
}

.bubble-link {
  position: relative;
  display: inline-block;
}
.bubble-link::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s;
}
.bubble-link:hover {
  box-shadow: 0 0 -4px #ffffff;
}
.bubble-link:hover::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 0;
  z-index: 1;
}

section.middle {
  padding: 50px 0 50px;
}

/* Accordion Design */
.accordion .card-header {
  padding: 1rem 1rem;
  background: transparent;
  margin: 0;
  display: block;
  border: none;
}
.accordion .card-header button {
  color: #121212;
  font-weight: 500;
  padding: 0;
  display: block;
  display: inline-block;
  width: 100%;
  text-align: left;
  outline: none;
  box-shadow: none;
  text-decoration: initial;
  word-wrap: break-word;
  white-space: normal;
}
.accordion .card-header button:lang(ar) {
  text-align: right;
}
.accordion .card-body {
  padding-top: 0px;
}

.collapsible-link:before,
.accordion .btn-link:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  left: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link:after,
.accordion .btn-link:after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded=true]:after,
.accordion .btn-link[aria-expanded=true]:after {
  transform: rotate(90deg) translateX(1px);
}

.collapsible-link[aria-expanded=true]:before,
.accordion .btn-link[aria-expanded=true]:before {
  transform: rotate(180deg);
}

.card-header {
  position: relative;
}

.accordion .card {
  border-color: #e8edf7;
  margin-bottom: 10px;
  border: 1px solid #e9ecef;
}

.accordion_title,
.accordion .card-header h5 {
  text-transform: capitalize;
  font-size: 16px;
}

.section-caption {
  font-size: 28px;
}

.normal-h1 {
  font-size: 36px;
}

.row-separator {
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-ul li {
  padding-right: 12px;
  margin-bottom: 10px;
}
.theme-ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #327950;
  font-weight: 600;
}

.theme-pagination {
  text-align: center;
}
.theme-pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #a07832;
  color: #a07832;
  transition: all 0.4s;
}
.theme-pagination a.text-link {
  width: 80px;
  border-radius: 50px;
}
.theme-pagination a.active {
  background-color: #a07832;
  color: #ffffff;
}
.theme-pagination a:hover {
  background-color: #a07832;
  color: #ffffff;
}
.theme-pagination a.disabled {
  pointer-events: none;
  color: #acacac;
  border-color: #acacac;
}

.no-animation {
  animation: none !important;
}

/*# sourceMappingURL=global.css.map */
