* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #327950 !important;
}

.text-brown {
  color: #a07832 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #dcc08f !important;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #327950;
  width: 220px;
  border: 1px solid #327950;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #327950;
  transition: all 0.6s;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}

.section-head {
  margin-bottom: 5rem;
}
.section-head span {
  color: #a07832;
}
.section-head .main-head {
  position: relative;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #3fd67e;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #3fd67e;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #327950;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #327950;
  font-weight: 600;
}

.swiper-button-next {
  right: -50px !important;
}

.swiper-button-prev {
  left: -50px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: auto;
  }
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #327950;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #a07832;
  color: #a07832;
}
.job-item .apply-btn::before {
  background-color: #a07832;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(5, 29, 15, 0.8705882353), rgba(28, 80, 49, 0.6980392157)), url("../../images/hero_home_03.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
@media screen and (max-height: 700px) {
  .header {
    min-height: 110vh;
  }
}
@media screen and (max-height: 650px) {
  .header {
    min-height: 140vh;
  }
}
@media screen and (min-height: 850px) {
  .header {
    min-height: 93vh;
  }
}
.header .top-nav {
  position: absolute;
  top: 25px;
  right: 0;
  width: 100%;
  padding: 1.5rem 3rem;
}
.header .top-nav .brand img {
  position: relative;
  animation: fadeLogo 2.5s ease-in-out;
}
.header .top-nav .nav-list {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
.header .top-nav .nav-list .nav-list-item {
  display: inline-block;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link {
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  transition: all 0.5s;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #c4e6d2;
  transition: all 0.5s;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:hover {
  color: #c4e6d2;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:hover::after {
  width: 100%;
}
.header .top-nav .nav-list .dropdown-toggle::after {
  border-top: none !important;
}
.header .top-nav .nav-list .dropdown-toggle i {
  position: relative;
  top: 3px;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 250px;
  padding-top: 0;
  padding-bottom: 0;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a {
  position: relative;
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.4rem;
  transition: all 0.5s;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #327950;
  display: none;
  transition: all 0.5s;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a:hover {
  color: #327950;
  background-color: #e8f5ed;
  padding-right: 1.5rem;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a:hover::after {
  display: block;
}
.header .top-nav .links .auth {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #ffffff;
  width: 150px;
  border: 1px solid #efefef;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  transition: all 0.5s;
}
.header .top-nav .links .auth.register {
  background-color: transparent;
}
.header .top-nav .links .auth.register::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #327950;
  transition: all 0.6s;
}
.header .top-nav .links .auth.register:hover {
  color: #ffffff;
}
.header .top-nav .links .auth.register:hover::before {
  right: 0;
  z-index: -1;
}
.header .top-nav .links .auth.login {
  background-color: #ffffff;
  color: #327950;
}
@media screen and (max-width: 1200px) {
  .header .top-nav .links .auth.login {
    width: 160px;
  }
}
.header .top-nav .links .auth.login::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #327950;
  transition: all 0.6s;
}
.header .top-nav .links .auth.login:hover {
  color: #ffffff;
}
.header .top-nav .links .auth.login:hover::before {
  right: 0;
  z-index: -1;
}
.header .header-swiper {
  position: relative;
  top: 80px;
  animation: fadeSwiper 2s linear;
  text-align: center;
  cursor: grab;
  width: 90%;
  max-width: 1000px;
  max-height: auto;
  overflow: hidden;
}
.header .header-swiper .sub-meta {
  color: #fcdca6;
  font-size: 1.3rem;
}
.header .header-swiper .head {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .header .header-swiper .head {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .header-swiper .head {
    font-size: 1.8rem;
  }
}
.header .header-search-form {
  position: relative;
  top: 80px;
  width: 90%;
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 1rem;
  animation: fadeSearchForm 2s linear;
  overflow: hidden;
}
.header .header-search-form .input-wrapper {
  position: relative;
}
.header .header-search-form .input-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #327950;
}
.header .header-search-form .input-wrapper input,
.header .header-search-form .input-wrapper select {
  padding-right: 3rem;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  font-size: 1.2rem;
}
.header .header-search-form .searchHeaderButton {
  position: relative;
  display: block;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #327950;
  width: 100%;
  height: 100%;
  border: 1px solid #327950;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
}
.header .header-search-form .searchHeaderButton::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #327950;
  transition: all 0.6s;
}
.header .header-search-form .searchHeaderButton:hover {
  color: #ffffff;
}
.header .header-search-form .searchHeaderButton:hover::before {
  right: 0;
  z-index: -1;
}
.header .statistics-content {
  position: relative;
  top: 80px;
  overflow: hidden;
}
.header .statistics-content .item {
  position: relative;
  padding: 0.8rem;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  animation: fadeStats 2s linear forwards;
  opacity: 0;
}
.header .statistics-content .item i {
  font-size: 1.2rem;
}
.header .statistics-content .item p span {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .header .statistics-content .item {
    width: 150px;
  }
  .header .statistics-content .item p span {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .header .statistics-content .item {
    width: 60px;
    border: none;
  }
  .header .statistics-content .item * {
    font-size: 0.9rem !important;
  }
}
.header .statistics-content .item:nth-child(1) {
  animation-delay: 0s;
}
.header .statistics-content .item:nth-child(2) {
  animation-delay: 0.3s;
}
.header .statistics-content .item:nth-child(3) {
  animation-delay: 0.6s;
}
.header .statistics-content .item:nth-child(4) {
  animation-delay: 0.8s;
}
.header .next-section-link {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
}
.header .next-section-link:hover {
  border-color: #45f045;
}
.header .next-section-link:hover span {
  background-color: #1da71d;
}
.header .next-section-link:hover span i {
  color: #ffffff;
}
.header .next-section-link span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #9e9c9c;
  border-radius: 50%;
  transition: all 0.5s;
}
.header .next-section-link span i {
  color: #327950;
  transition: all 0.5s;
}

/*# sourceMappingURL=layout.css.map */
