* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}
*:lang(en) {
  direction: ltr;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
*:lang(en):not(.fa, .far, .fab, .fas) {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #004c70 !important;
}

.text-brown {
  color: #6fb728 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #bce791 !important;
}

.text-blue {
  color: #005085 !important;
  text-decoration: none;
  transition: all 0.4s;
}
.text-blue:hover {
  color: #0d77be !important;
}

.mirror-x:lang(en) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.adjusted-icon {
  position: relative;
  top: 2px;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #004c70;
  width: 220px;
  border: 1px solid #004c70;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.theme-btn:lang(en)::before {
  left: -100%;
  right: auto;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}
.theme-btn:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.theme-btn.danger {
  border: 1px solid #ff4e4e !important;
  color: #ff4e4e !important;
}
.theme-btn.danger::before {
  background-color: #ff4e4e !important;
}
.theme-btn.danger:hover {
  color: #ffffff !important;
}
.theme-btn.danger:hover::before {
  right: 0;
  z-index: -1;
}

.separator {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.separator::before, .separator::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28%;
  height: 1px;
  background-color: #d4d4d4;
}
@media screen and (max-width: 1024px) {
  .separator::before, .separator::after {
    width: 25%;
  }
}
@media screen and (max-width: 575px) {
  .separator::before, .separator::after {
    width: 20%;
  }
}
@media screen and (max-width: 350px) {
  .separator::before, .separator::after {
    width: 17%;
  }
}
@media screen and (max-width: 300px) {
  .separator::before, .separator::after {
    width: 13%;
  }
}
.separator::after {
  left: auto;
  right: 0;
}

.section-head {
  margin-bottom: 5rem;
}
@media screen and (max-width: 576px) {
  .section-head {
    margin-bottom: 2rem;
  }
}
.section-head span {
  color: #004c70;
}
.section-head .main-head {
  position: relative;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper:not(.header-swiper) {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper:not(.header-swiper) {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #6eb727;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #6eb727;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #004c70;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #004c70;
  font-weight: 600;
}

.swiper-button-next {
  right: -60px !important;
}

.swiper-button-prev {
  left: -60px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.job-item:lang(en) {
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: auto;
  }
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .bookmark:lang(en) {
  left: auto;
  right: 5px;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #004c70;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #6fb728;
  color: #6fb728;
}
.job-item .apply-btn:lang(en) {
  left: auto;
  right: 15px;
}
.job-item .apply-btn::before {
  background-color: #6fb728;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.form-check-input:checked {
  background-color: #004c70;
  border-color: #004c70;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.dot.online {
  background-color: #40f78c;
}
.dot.offline {
  background-color: #ff0000;
}

.text-online {
  color: #40f78c;
}

.text-offline {
  color: #ff5555;
}

/* Nice Selector */
.nice-selector {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 1px solid #ced4da;
}

.nice-select {
  padding-right: 0.9rem;
}
.nice-select .current {
  display: block;
  text-align: right;
}
.nice-select::after {
  left: 15px;
  right: auto;
}
.nice-select .list {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #004c70 #e7e7e7;
  /* Track */
  /* Handle */
  /* Handle on hover */
  text-align: right;
}
.nice-select .list::-webkit-scrollbar {
  width: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nice-select .list::-webkit-scrollbar-thumb {
  background: #004c70;
  border-radius: 50px;
}
.nice-select .list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nice-select .list li {
  text-align: right;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

.candidate-card {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 0 5px #eeeeee;
  border-radius: 10px;
  text-align: center;
}
.candidate-card .image {
  margin-bottom: 1rem;
}
.candidate-card .image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.candidate-card .name {
  display: block;
  color: #004c70;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.candidate-card .desc {
  color: #696969;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.candidate-card .meta {
  color: #005085;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.candidate-card .actions a {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #6fb728;
  margin-left: 0.6rem;
  border: 1px solid #6fb728;
  transition: all 0.4s;
}
.candidate-card .actions a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.candidate-card .actions a:last-child {
  margin-left: 0;
}

.join-link {
  display: inline-block;
  min-width: 250px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #131d02;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
}
.join-link:hover {
  color: #2da860;
}

.bubble-link {
  position: relative;
  display: inline-block;
}
.bubble-link::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s;
}
.bubble-link:hover {
  box-shadow: 0 0 -4px #ffffff;
}
.bubble-link:hover::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 0;
  z-index: 1;
}

section.middle {
  padding: 50px 0 50px;
}

/* Accordion Design */
.accordion .card-header {
  padding: 1rem 1rem;
  background: transparent;
  margin: 0;
  display: block;
  border: none;
}
.accordion .card-header button {
  color: #121212;
  font-weight: 500;
  padding: 0;
  display: block;
  display: inline-block;
  width: 100%;
  text-align: left;
  outline: none;
  box-shadow: none;
  text-decoration: initial;
  word-wrap: break-word;
  white-space: normal;
}
.accordion .card-header button:lang(ar) {
  text-align: right;
}
.accordion .card-body {
  padding-top: 0px;
}

.collapsible-link:before,
.accordion .btn-link:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  left: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link:after,
.accordion .btn-link:after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded=true]:after,
.accordion .btn-link[aria-expanded=true]:after {
  transform: rotate(90deg) translateX(1px);
}

.collapsible-link[aria-expanded=true]:before,
.accordion .btn-link[aria-expanded=true]:before {
  transform: rotate(180deg);
}

.card-header {
  position: relative;
}

.accordion .card {
  border-color: #e8edf7;
  margin-bottom: 10px;
  border: 1px solid #e9ecef;
}

.accordion_title,
.accordion .card-header h5 {
  text-transform: capitalize;
  font-size: 16px;
}

.section-caption {
  font-size: 28px;
}

.normal-h1 {
  font-size: 36px;
}

.row-separator {
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-ul li {
  padding-right: 12px;
  margin-bottom: 10px;
}
.theme-ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #004c70;
  font-weight: 600;
}

.theme-pagination {
  text-align: center;
}
.theme-pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #6fb728;
  color: #6fb728;
  transition: all 0.4s;
}
.theme-pagination a.text-link {
  width: 80px;
  border-radius: 50px;
}
.theme-pagination a.active {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a.disabled {
  pointer-events: none;
  color: #acacac;
  border-color: #acacac;
}

.no-animation {
  animation: none !important;
}

.std-logo {
  max-width: 160px;
  height: auto;
  border-radius: 50px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.6784313725), rgba(0, 0, 0, 0.5411764706)), url("../../images/home_slider.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-height: 850px) {
  .header {
    min-height: 105vh;
  }
}
@media screen and (max-height: 812px) {
  .header {
    min-height: 110vh;
  }
}
@media screen and (max-height: 750px) {
  .header {
    min-height: 120vh;
  }
}
@media screen and (max-height: 660px) {
  .header {
    min-height: 140vh;
  }
}
@media screen and (max-height: 500px) {
  .header {
    min-height: 180vh;
  }
}
@media screen and (min-height: 900px) {
  .header {
    min-height: 93vh;
  }
}
.header .top-nav {
  position: absolute;
  top: 25px;
  right: 0;
  width: 100%;
  padding: 1.5rem 3rem;
}
@media screen and (max-width: 768px) {
  .header .top-nav {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .header .top-nav {
    padding: 1rem;
  }
}
.header .top-nav .nav-toggler {
  font-size: 1.8rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}
.header .top-nav .small-search-toggler {
  font-size: 1.2rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}
.header .top-nav .brand img {
  position: relative;
  max-width: 180px;
  height: auto;
  animation: fadeLogo 2.5s ease-in-out;
}
@media screen and (max-width: 575px) {
  .header .top-nav .brand img {
    width: 120px;
  }
}
.header .top-nav .nav-list {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
.header .top-nav .nav-list .nav-list-item {
  display: inline-block;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link {
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  transition: all 0.5s;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #70d1ff;
  transition: all 0.5s;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:lang(en):not(.dropdown-toggle)::after {
  right: auto;
  left: 0;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:hover {
  color: #70d1ff;
}
.header .top-nav .nav-list .nav-list-item .nav-list-link:hover::after {
  width: 100%;
}
.header .top-nav .nav-list .dropdown-toggle::after {
  border-top: none !important;
}
.header .top-nav .nav-list .dropdown-toggle i {
  position: relative;
  top: 3px;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 250px;
  padding-top: 0;
  padding-bottom: 0;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a {
  position: relative;
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.4rem;
  transition: all 0.5s;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #004c70;
  display: none;
  transition: all 0.5s;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a:lang(en)::after {
  right: auto;
  left: 0;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a:hover {
  color: #004c70;
  background-color: #a3e1ff;
  padding-right: 1.5rem;
}
.header .top-nav .nav-list .dropdown:hover .dropdown-menu li a:hover::after {
  display: block;
}
.header .top-nav .links .auth {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #ffffff;
  width: 150px;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  transition: all 0.5s;
}
.header .top-nav .links .auth.register {
  background-color: transparent;
}
.header .top-nav .links .auth.register::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.header .top-nav .links .auth.register:hover {
  color: #ffffff;
}
.header .top-nav .links .auth.register:hover::before {
  right: 0;
  z-index: -1;
}
.header .top-nav .links .auth.register:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.header .top-nav .links .auth.login {
  background-color: #ffffff;
  color: #004c70;
}
@media screen and (max-width: 1200px) {
  .header .top-nav .links .auth.login {
    width: 160px;
  }
}
.header .top-nav .links .auth.login::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.header .top-nav .links .auth.login:hover {
  color: #ffffff;
}
.header .top-nav .links .auth.login:hover::before {
  right: 0;
  z-index: -1;
}
.header .top-nav .links .auth.login:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.header .header-swiper {
  position: relative;
  top: 80px;
  text-align: center;
  cursor: grab;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
}
.header .header-swiper .sub-meta {
  color: #fcdca6;
  font-size: 1.3rem;
  animation: fadeSwiper 2s linear;
}
.header .header-swiper .head {
  position: relative;
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  animation: fadeSwiper 2s linear;
}
@media screen and (max-width: 1024px) {
  .header .header-swiper .head {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .header-swiper .head {
    font-size: 1.8rem;
  }
}
.header .header-search-form {
  position: relative;
  top: 80px;
  width: 90%;
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  animation: fadeSearchForm 2s linear;
  overflow: hidden;
}
.header .header-search-form .input-wrapper {
  position: relative;
}
.header .header-search-form .input-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #004c70;
}
.header .header-search-form .input-wrapper i:lang(en) {
  right: auto;
  left: 10px;
}
.header .header-search-form .input-wrapper input,
.header .header-search-form .input-wrapper select {
  padding-right: 3rem;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  font-size: 1.2rem;
}
.header .header-search-form .input-wrapper input:lang(en),
.header .header-search-form .input-wrapper select:lang(en) {
  padding-right: 0;
  padding-left: 3rem;
}
.header .header-search-form .searchHeaderButton {
  position: relative;
  display: block;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #004c70;
  width: 100%;
  height: 100%;
  border: 1px solid #004c70;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
}
.header .header-search-form .searchHeaderButton::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.header .header-search-form .searchHeaderButton:hover {
  color: #ffffff;
}
.header .header-search-form .searchHeaderButton:hover::before {
  right: 0;
  z-index: -1;
}
.header .header-search-form .searchHeaderButton:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.header .statistics-content {
  position: relative;
  top: 80px;
  overflow: hidden;
}
.header .statistics-content .item {
  position: relative;
  padding: 0.8rem;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  animation: fadeStats 2s linear forwards;
  opacity: 0;
}
.header .statistics-content .item i {
  font-size: 1.2rem;
}
.header .statistics-content .item p span {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .header .statistics-content .item {
    width: 150px;
  }
  .header .statistics-content .item p span {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .header .statistics-content .item {
    width: 60px;
    border: none;
  }
  .header .statistics-content .item * {
    font-size: 0.9rem !important;
  }
}
.header .statistics-content .item:nth-child(1) {
  animation-delay: 0s;
}
.header .statistics-content .item:nth-child(2) {
  animation-delay: 0.3s;
}
.header .statistics-content .item:nth-child(3) {
  animation-delay: 0.6s;
}
.header .statistics-content .item:nth-child(4) {
  animation-delay: 0.8s;
}
.header .next-section-link {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
}
.header .next-section-link:hover {
  border-color: #6eb728;
}
.header .next-section-link:hover span {
  background-color: #6eb728;
}
.header .next-section-link:hover span i {
  color: #ffffff;
}
.header .next-section-link span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #9e9c9c;
  border-radius: 50%;
  transition: all 0.5s;
}
.header .next-section-link span i {
  color: #004c70;
  transition: all 0.5s;
}

.static-header,
.scroll-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #000000;
  z-index: 200;
  display: none;
  padding: 1.5rem 3rem;
}
@media screen and (max-width: 768px) {
  .static-header,
.scroll-header {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .static-header,
.scroll-header {
    padding: 1rem;
  }
}
.static-header .nav-toggler,
.scroll-header .nav-toggler {
  font-size: 1.8rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}
.static-header .small-search-toggler,
.scroll-header .small-search-toggler {
  font-size: 1.8rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}
.static-header .brand img,
.scroll-header .brand img {
  position: relative;
  max-width: 150px;
  height: auto;
  border-radius: 50px;
}
@media screen and (max-width: 575px) {
  .static-header .brand img,
.scroll-header .brand img {
    width: 120px;
  }
}
.static-header .nav-list,
.scroll-header .nav-list {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
.static-header .nav-list .nav-list-item,
.scroll-header .nav-list .nav-list-item {
  display: inline-block;
}
.static-header .nav-list .nav-list-item .nav-list-link,
.scroll-header .nav-list .nav-list-item .nav-list-link {
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  transition: all 0.5s;
}
.static-header .nav-list .nav-list-item .nav-list-link:not(.dropdown-toggle)::after,
.scroll-header .nav-list .nav-list-item .nav-list-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #70d1ff;
  transition: all 0.5s;
}
.static-header .nav-list .nav-list-item .nav-list-link:hover,
.scroll-header .nav-list .nav-list-item .nav-list-link:hover {
  color: #70d1ff;
}
.static-header .nav-list .nav-list-item .nav-list-link:hover::after,
.scroll-header .nav-list .nav-list-item .nav-list-link:hover::after {
  width: 100%;
}
.static-header .nav-list .dropdown-toggle::after,
.scroll-header .nav-list .dropdown-toggle::after {
  border-top: none !important;
}
.static-header .nav-list .dropdown-toggle i,
.scroll-header .nav-list .dropdown-toggle i {
  position: relative;
  top: 3px;
}
.static-header .nav-list .dropdown:hover .dropdown-menu,
.scroll-header .nav-list .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 250px;
  padding-top: 0;
  padding-bottom: 0;
}
.static-header .nav-list .dropdown:hover .dropdown-menu li a,
.scroll-header .nav-list .dropdown:hover .dropdown-menu li a {
  position: relative;
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.4rem;
  transition: all 0.5s;
}
.static-header .nav-list .dropdown:hover .dropdown-menu li a::after,
.scroll-header .nav-list .dropdown:hover .dropdown-menu li a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #004c70;
  display: none;
  transition: all 0.5s;
}
.static-header .nav-list .dropdown:hover .dropdown-menu li a:lang(en)::after,
.scroll-header .nav-list .dropdown:hover .dropdown-menu li a:lang(en)::after {
  right: auto;
  left: 0;
}
.static-header .nav-list .dropdown:hover .dropdown-menu li a:hover,
.scroll-header .nav-list .dropdown:hover .dropdown-menu li a:hover {
  color: #004c70;
  background-color: #a3e1ff;
  padding-right: 1.5rem;
}
.static-header .nav-list .dropdown:hover .dropdown-menu li a:hover::after,
.scroll-header .nav-list .dropdown:hover .dropdown-menu li a:hover::after {
  display: block;
}
.static-header .links .auth,
.scroll-header .links .auth {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #ffffff;
  width: 150px;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  transition: all 0.5s;
}
.static-header .links .auth.register,
.scroll-header .links .auth.register {
  background-color: transparent;
}
.static-header .links .auth.register::before,
.scroll-header .links .auth.register::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.static-header .links .auth.register:hover,
.scroll-header .links .auth.register:hover {
  color: #ffffff;
}
.static-header .links .auth.register:hover:lang(en)::before,
.scroll-header .links .auth.register:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.static-header .links .auth.login,
.scroll-header .links .auth.login {
  background-color: #ffffff;
  color: #004c70;
}
@media screen and (max-width: 1200px) {
  .static-header .links .auth.login,
.scroll-header .links .auth.login {
    width: 160px;
  }
}
.static-header .links .auth.login::before,
.scroll-header .links .auth.login::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.static-header .links .auth.login:hover,
.scroll-header .links .auth.login:hover {
  color: #ffffff;
}
.static-header .links .auth.login:hover::before,
.scroll-header .links .auth.login:hover::before {
  right: 0;
  z-index: -1;
}
.static-header .links .auth.login:hover:lang(en)::before,
.scroll-header .links .auth.login:hover:lang(en)::before {
  left: 0;
  right: auto;
}

.static-header {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -105%;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(to bottom right, rgba(7, 5, 3, 0.9254901961), rgba(12, 32, 21, 0.9254901961));
  color: #ffffff;
  padding: 0;
  z-index: 900;
  transition: all 0.6s;
}
.sidebar:lang(en) {
  right: auto;
  left: -105%;
}
.sidebar .image {
  margin-bottom: 1.5rem;
}
.sidebar .image img {
  width: 130px;
}
.sidebar .links a {
  display: block;
  padding: 1rem;
  color: #efefef;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.5s;
}
.sidebar .links a:hover {
  background-color: #efefef;
  color: #010758;
}
.sidebar .close-toggler-icon {
  position: absolute;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  box-shadow: none;
  border: none;
  top: 30px;
}
.sidebar .close-toggler-icon:lang(en) {
  right: 20px;
}
.sidebar .close-toggler-icon:lang(ar) {
  left: 20px;
}

.footer {
  padding: 5rem 1rem;
  background-color: #000000;
  color: #ffffff;
}
.footer .footer-head {
  max-width: 450px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}
.footer .footer-head h3 {
  margin-bottom: 1rem;
}
.footer .footer-head p {
  color: #dfdfdf;
}
.footer .footer-form {
  max-width: 450px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  background-color: #ffffff;
  padding: 0.8rem;
  border-radius: 50px;
}
.footer .footer-form input {
  border: none;
  outline: none;
  box-shadow: none;
}
.footer .footer-form .subscribe-btn {
  display: block;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 0.5rem;
  background-color: #6fb728;
  color: #ffffff;
  transition: all 0.5s;
}
.footer .phone a,
.footer .address a,
.footer .email a {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
.footer .links .head {
  margin-bottom: 1.5rem;
}
.footer .links .head h5 {
  font-size: 1.3rem;
}
.footer .links a {
  display: block;
  color: #ffffff;
  margin-bottom: 0.625rem;
  text-decoration: none;
}
.footer .mobile-link {
  display: flex !important;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 200px;
  border: 1px solid #6eb727;
  color: #ffffff !important;
  border-radius: 50px;
  transition: all 0.5s;
}
.footer .mobile-link i {
  font-size: 2rem;
}
.footer .mobile-link:hover {
  background-color: #6eb727;
}
.footer .bottom-footer {
  border-top: 1px solid #ffffff;
}
.footer .socials a {
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
}
.footer .logo img {
  max-width: 150px;
  height: auto;
  border-radius: 50px;
}

/*# sourceMappingURL=layout.css.map */
