* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}
*:lang(en) {
  direction: ltr;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
*:lang(en):not(.fa, .far, .fab, .fas, .lni) {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #004c70 !important;
}

.text-brown {
  color: #6fb728 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #bce791 !important;
}

.text-blue {
  color: #005085 !important;
  text-decoration: none;
  transition: all 0.4s;
}
.text-blue:hover {
  color: #0d77be !important;
}

.mirror-x:lang(en) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.adjusted-icon {
  position: relative;
  top: 2px;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #004c70;
  width: 220px;
  border: 1px solid #004c70;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004c70;
  transition: all 0.6s;
}
.theme-btn:lang(en)::before {
  left: -100%;
  right: auto;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}
.theme-btn:hover:lang(en)::before {
  left: 0;
  right: auto;
}
.theme-btn.danger {
  border: 1px solid #ff4e4e !important;
  color: #ff4e4e !important;
}
.theme-btn.danger::before {
  background-color: #ff4e4e !important;
}
.theme-btn.danger:hover {
  color: #ffffff !important;
}
.theme-btn.danger:hover::before {
  right: 0;
  z-index: -1;
}

.separator {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.separator::before, .separator::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28%;
  height: 1px;
  background-color: #d4d4d4;
}
@media screen and (max-width: 1024px) {
  .separator::before, .separator::after {
    width: 25%;
  }
}
@media screen and (max-width: 575px) {
  .separator::before, .separator::after {
    width: 20%;
  }
}
@media screen and (max-width: 350px) {
  .separator::before, .separator::after {
    width: 17%;
  }
}
@media screen and (max-width: 300px) {
  .separator::before, .separator::after {
    width: 13%;
  }
}
.separator::after {
  left: auto;
  right: 0;
}

.section-head {
  margin-bottom: 5rem;
}
@media screen and (max-width: 576px) {
  .section-head {
    margin-bottom: 2rem;
  }
}
.section-head span {
  color: #004c70;
}
.section-head .main-head {
  position: relative;
  font-size: 1.5rem;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.section-head-sm {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 576px) {
  .section-head-sm {
    margin-bottom: 1.5rem;
  }
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper:not(.header-swiper) {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper:not(.header-swiper) {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #6eb727;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #6eb727;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #004c70;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #004c70;
  font-weight: 600;
}

.swiper-button-next {
  right: -60px !important;
}

.swiper-button-prev {
  left: -60px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.job-item:lang(en) {
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: 100%;
  }
}
.job-item.job-item-lg {
  grid-template-columns: 15% 85%;
  padding-bottom: 2rem !important;
}
@media screen and (max-width: 1400px) {
  .job-item.job-item-lg {
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 768px) {
  .job-item.job-item-lg {
    grid-template-columns: 100%;
  }
}
.job-item.job-item-lg .bookmark {
  left: 10px;
  top: 10px;
}
.job-item.job-item-lg .bookmark:lang(en) {
  left: auto;
  right: 10px;
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .bookmark:lang(en) {
  left: auto;
  right: 5px;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #004c70;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #6fb728;
  color: #6fb728;
}
.job-item .apply-btn:lang(en) {
  left: auto;
  right: 15px;
}
.job-item .apply-btn::before {
  background-color: #6fb728;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.form-check-input:checked {
  background-color: #004c70;
  border-color: #004c70;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.dot.online {
  background-color: #40f78c;
}
.dot.offline {
  background-color: #ff0000;
}

.text-online {
  color: #40f78c;
}

.text-offline {
  color: #ff5555;
}

/* Nice Selector */
.nice-selector {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 1px solid #ced4da;
}

.nice-select {
  padding-right: 0.9rem;
}
.nice-select:lang(en) {
  padding-right: 1.8rem;
}
.nice-select .current {
  display: block;
  text-align: right;
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}
.nice-select .current:lang(en) {
  text-align: left;
}
.nice-select.no-top .current {
  top: auto !important;
}
.nice-select::after {
  left: 15px;
  right: auto;
}
.nice-select:lang(en)::after {
  right: 15px;
  left: auto;
}
.nice-select .list {
  position: absolute;
  top: 100%;
  width: auto !important;
  min-width: 100% !important;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #004c70 #e7e7e7;
  /* Track */
  /* Handle */
  /* Handle on hover */
  text-align: right;
}
.nice-select .list::-webkit-scrollbar {
  width: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nice-select .list::-webkit-scrollbar-thumb {
  background: #004c70;
  border-radius: 50px;
}
.nice-select .list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nice-select .list li {
  text-align: right;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.nice-select .list li:lang(en) {
  text-align: left;
}

.candidate-card {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 5px #eeeeee;
  border-radius: 10px;
  text-align: right;
}
@media screen and (max-width: 1300px) {
  .candidate-card {
    padding: 1.5rem;
  }
}
.candidate-card:lang(en) {
  text-align: left;
}
.candidate-card .head {
  display: flex;
  justify-content: start !important;
  margin-bottom: 1.5rem;
  align-items: center;
}
.candidate-card .image {
  text-align: center;
  margin-left: 10px;
}
.candidate-card .image:lang(en) {
  margin-left: 0;
  margin-right: 10px;
}
.candidate-card .image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.candidate-card .name {
  display: block;
  color: #004c70;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.4s;
}
.candidate-card .name:hover {
  color: #0080bd;
}
.candidate-card .desc {
  color: #696969;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.candidate-card .meta {
  color: #8f8f8f;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.candidate-card .actions a {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #6fb728;
  margin-left: 0.6rem;
  border: 1px solid #6fb728;
  transition: all 0.4s;
}
.candidate-card .actions a:lang(en) {
  margin-left: 0;
  margin-right: 0.6rem;
}
.candidate-card .actions a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.candidate-card .actions a:last-child {
  margin-left: 0;
}
.candidate-card .actions a:lang(en):last-child {
  margin-right: 0;
}

.join-link {
  display: inline-block;
  min-width: 250px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #131d02;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
}
.join-link:hover {
  color: #2da860;
}

.bubble-link {
  position: relative;
  display: inline-block;
}
.bubble-link::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s;
}
.bubble-link:hover {
  box-shadow: 0 0 -4px #ffffff;
}
.bubble-link:hover::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 0;
  z-index: 1;
}

section.middle {
  padding: 50px 0 50px;
}

/* Accordion Design */
.accordion .card-header {
  padding: 1rem 1rem;
  background: transparent;
  margin: 0;
  display: block;
  border: none;
}
.accordion .card-header button {
  color: #121212;
  font-weight: 500;
  padding: 0;
  display: block;
  display: inline-block;
  width: 100%;
  text-align: left;
  outline: none;
  box-shadow: none;
  text-decoration: initial;
  word-wrap: break-word;
  white-space: normal;
}
.accordion .card-header button:lang(ar) {
  text-align: right;
}
.accordion .card-body {
  padding-top: 0px;
}

.collapsible-link:before,
.accordion .btn-link:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  left: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link:after,
.accordion .btn-link:after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded=true]:after,
.accordion .btn-link[aria-expanded=true]:after {
  transform: rotate(90deg) translateX(1px);
}

.collapsible-link[aria-expanded=true]:before,
.accordion .btn-link[aria-expanded=true]:before {
  transform: rotate(180deg);
}

.card-header {
  position: relative;
}

.accordion .card {
  border-color: #e8edf7;
  margin-bottom: 10px;
  border: 1px solid #e9ecef;
}

.accordion_title,
.accordion .card-header h5 {
  text-transform: capitalize;
  font-size: 16px;
}

.section-caption {
  font-size: 28px;
}

.normal-h1 {
  font-size: 36px;
}

.row-separator {
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-ul li {
  padding-right: 12px;
  margin-bottom: 10px;
}
.theme-ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #004c70;
  font-weight: 600;
}

.theme-pagination {
  text-align: center;
}
.theme-pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #6fb728;
  color: #6fb728;
  transition: all 0.4s;
}
.theme-pagination a.text-link {
  width: 80px;
  border-radius: 50px;
}
.theme-pagination a.active {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a:hover {
  background-color: #6fb728;
  color: #ffffff;
}
.theme-pagination a.disabled {
  pointer-events: none;
  color: #acacac;
  border-color: #acacac;
}

.no-animation {
  animation: none !important;
}

.std-logo {
  max-width: 160px;
  height: auto;
  border-radius: 50px;
}

.h1-sm {
  font-size: 1.5rem;
}

.h4-sm {
  font-size: 1.2rem;
}

.max-width-100 {
  max-width: 100% !important;
}

.how-to-section {
  margin: 6rem 0;
  overflow: hidden;
}
.how-to-section .item {
  position: relative;
  transform: scale(0);
  transition: all 0.6s;
}
.how-to-section .item .head {
  font-size: 1.5rem;
  font-weight: 500;
}
.how-to-section .item .text {
  font-size: 1rem;
  color: #797878;
}
.how-to-section .item .next-arrow-img {
  position: absolute;
  right: 90%;
  top: 10%;
  width: 80px;
}
.how-to-section .item .next-arrow-img:lang(en) {
  right: auto;
  left: 90%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media screen and (max-width: 768px) {
  .how-to-section .item .next-arrow-img {
    display: none;
  }
}

.categories-section {
  margin: 3rem 0;
  padding: 3rem 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .categories-section {
    margin: 1rem 0;
    padding: 1rem 0;
  }
}
.categories-section .item:hover a {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.categories-section .item a {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: all 0.5s;
}
.categories-section .item .head {
  font-size: 1.2rem;
  font-weight: 500;
}
.categories-section .item .text {
  color: #6fb728;
}

.jobs-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .jobs-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .jobs-section .section-head {
    margin-bottom: 2rem;
  }
}

.testomonial-section {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6784313725), rgba(0, 0, 0, 0.7254901961)), url("../../images/testimonial.jpeg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.testomonial-section .item {
  color: #ffffff;
  font-size: 1.2rem;
  border: 1px solid #eeeeee;
  padding: 1.2rem;
}
.testomonial-section .item .quote {
  margin-bottom: 1.2rem;
}
.testomonial-section .item .writer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.testomonial-section .item .writer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testomonial-section .item .writer .data {
  margin-left: 10px;
}
.testomonial-section .item .writer .data:lang(ar) {
  margin-left: 0;
  margin-right: 10px;
}
.testomonial-section .item .writer .name {
  margin-bottom: 0;
  color: #7ff074;
  font-weight: 600;
}
.testomonial-section .item .writer .position {
  margin-bottom: 0;
  font-size: 0.925rem;
}

.info-section {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6862745098), rgba(0, 0, 0, 0.5490196078)), url("../../images/info.jpeg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #ffffff;
  overflow: hidden;
}
.info-section * {
  transition: all 0.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.info-section .image {
  position: relative;
}
.info-section .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.info-section .text {
  padding: 0 3rem;
}
.info-section .text .head {
  max-width: 550px;
  margin-bottom: 1.5rem;
}
.info-section .text .head p {
  font-weight: 700;
}
.info-section .text .short-desc {
  margin-bottom: 1.5rem;
  max-width: 450px;
  color: #fddec4;
}
.info-section .text .list {
  color: #ffffff;
  margin-bottom: 3rem;
  padding-right: 1rem;
}
.info-section .text .list li {
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.info-section .text .list li:lang(en) {
  padding-left: 1rem;
  padding-right: 0;
}
.info-section .text .list li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
}
.info-section .text .info-btn {
  border: 1px solid #ffffff;
}
.info-section .text .info-btn::before {
  background-color: #2bc51d;
}

.blogs-section {
  padding: 4rem 1rem;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .blogs-section {
    padding: 1rem;
  }
}
.blogs-section .section-head {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.blogs-section .blog-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.blogs-section .blog-item .title {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.blogs-section .blog-item .title a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.blogs-section .blog-item .entry-meta {
  margin-bottom: 0.625rem;
}
.blogs-section .blog-item .entry-meta small {
  font-size: 0.825rem;
}
.blogs-section .blog-item .entry-meta small a {
  text-decoration: none;
  color: #06619e;
}
.blogs-section .blog-item .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs-section .blog-item .footer-wrapper .links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #df1b23;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
  color: #ffffff;
  transition: all 0.5s;
}
.blogs-section .blog-item .footer-wrapper .links a.facebook {
  background-color: #06619e;
}
.blogs-section .blog-item .footer-wrapper .links a.facebook:hover {
  background-color: #2b93d8;
}
.blogs-section .blog-item .footer-wrapper .links a.whatsapp {
  background-color: #2cc505;
}
.blogs-section .blog-item .footer-wrapper .links a.whatsapp:hover {
  background-color: #4aeb22;
}
.blogs-section .blog-item .footer-wrapper .links a.twitter {
  background-color: #36a3eb;
}
.blogs-section .blog-item .footer-wrapper .links a.twitter:hover {
  background-color: #59ade6;
}
.blogs-section .blog-item .footer-wrapper .links a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.blogs-section .blog-item .footer-wrapper .read-more {
  width: 130px;
}
.blogs-section .blog-item figure {
  position: relative;
  overflow: hidden;
}
.blogs-section .blog-item figure a img {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: all 0.5s;
}
.blogs-section .blog-item figure a img:hover {
  transform: scale(1.08);
}
.blogs-section .blog-item .entry-meta .rating .fav,
.blogs-section .blog-item .rating .fav {
  color: #f1960c !important;
}

.companies-section {
  overflow: hidden;
}
.companies-section .section-head {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.companies-section .item {
  position: relative;
  text-align: center;
  border: 1px solid #d4d4d4;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.companies-section .item .image {
  margin-bottom: 0.825rem;
}
.companies-section .item .image img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s;
}
.companies-section .item .image img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.companies-section .item .name {
  margin-bottom: 0.4rem;
}
.companies-section .item .name a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
.companies-section .item .location {
  margin-bottom: 0.8rem;
}
.companies-section .item .location a {
  color: #838383;
  text-decoration: none;
}
.companies-section .item .action-btn a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  padding: 0.5rem 1.5rem;
  background-color: #6fb728;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s;
}
.companies-section .item .action-btn a:hover {
  background-color: #88d53d;
}

/* Login and register */
.auth-section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  /* Form styles */
}
@media screen and (min-width: 992px) {
  .auth-section.register-section .section-head {
    margin-top: 4rem;
  }
}
.auth-section .section-head {
  margin-bottom: 1.5rem;
}
.auth-section .form-content {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}
.auth-section .auth-footer .social-icons .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s;
}
.auth-section .auth-footer .social-icons .icon:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.05);
}
.auth-section .auth-footer .social-icons .icon i {
  color: #004c70;
  line-height: 40px;
  font-size: 20px;
}
.auth-section .form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.auth-section.company-section .form-content {
  max-width: 700px;
}
.auth-section .form-content .head {
  text-align: center;
}
.auth-section .form-container {
  width: 100%;
  max-width: 550px;
}
.auth-section .input-wrapper {
  position: relative;
}
.auth-section .input-wrapper i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  color: #004c70;
}
.auth-section .input-wrapper input {
  padding-right: 40px;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 50px;
  height: 50px;
}
.auth-section .input-wrapper input:focus {
  border: 1px solid #a7f8ae !important;
}
.auth-section .form-check-input {
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.5s;
}
.auth-section .form-check-input:checked {
  background-color: #004c70;
  border-color: #004c70;
}
.auth-section .form-container button {
  display: block;
  width: 100%;
  height: 50px;
}
.auth-section .form-container button:hover {
  background-color: #f26522;
  color: #ffffff;
}
.auth-section .auth-form .error {
  font-size: 12px;
  color: #ff2525;
}
.auth-section .company-auth {
  margin: 2.5rem 0;
}
.auth-section .company-auth .theme-btn {
  width: 100%;
  border: 1px solid #6fb728;
  text-align: center;
  color: #6fb728;
}
.auth-section .company-auth .theme-btn::before {
  background-color: #6fb728;
}
.auth-section .company-auth .theme-btn:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .auth-section {
    min-height: 40vh;
    display: grid;
    grid-template-columns: 100%;
  }
  .auth-section .section-head {
    margin-bottom: 2rem;
  }
}
.auth-section .banner {
  background: linear-gradient(to bottom, rgba(111, 182, 40, 0.7803921569), rgba(14, 84, 117, 0.7450980392), rgba(10, 60, 83, 0.6784313725)), url("../../images/group.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Jobs page styles */
.jobs-filter-section {
  padding: 10rem 1rem;
  overflow: hidden;
}
.jobs-filter-section .filter-category {
  padding: 1rem 0;
  border-bottom: 1px solid #adadad;
  margin-top: 1.2rem;
  transition: all 0.6s;
}
.jobs-filter-section .filter-category .head {
  margin-bottom: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.jobs-filter-section .filter-category .content {
  overflow: hidden;
  transition: all 0.6s;
}
.jobs-filter-section .filter-category .content .form-check {
  position: relative;
  margin-bottom: 0.325rem;
  padding-left: 2rem;
}
.jobs-filter-section .filter-category .content .form-check:lang(en) {
  padding-right: 2rem;
  padding-left: 0;
}
.jobs-filter-section .filter-category .content .form-check .count {
  color: #038db8;
  position: absolute;
  left: 5px;
}
.jobs-filter-section .filter-category .content .form-check .count:lang(en) {
  right: 5px;
  left: auto;
}
.jobs-filter-section .filter-category.content-hidden .head .plus {
  display: inline-block;
}
.jobs-filter-section .filter-category.content-hidden .head .minus {
  display: none;
}
.jobs-filter-section .filter-category.content-hidden .content {
  max-height: 0;
}
.jobs-filter-section .filter-category.content-shown .head .minus {
  display: inline-block;
}
.jobs-filter-section .filter-category.content-shown .head .plus {
  display: none;
}
.jobs-filter-section .filter-category.content-shown .content {
  max-height: 320px;
}
.jobs-filter-section .filter-category:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.jobs-filter-section .job-item .image {
  width: 70px;
}

.partners-section {
  padding: 150px 20px 60px !important;
}
@media screen and (max-width: 767px) {
  .partners-section {
    padding: 100px 20px 50px !important;
  }
}

/* Profile Section */
.profile-section {
  padding: 180px 20px 80px;
}
@media screen and (max-width: 575px) {
  .profile-section {
    padding: 140px 20px 50px;
  }
}
.profile-section .profile-content {
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 40px;
}
.profile-section .profile-content .profile-content-header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  color: #004c70;
}
.profile-section .profile-content .profile-img img {
  background-color: #f3fdd3;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 1rem;
  border: 5px solid #004c70;
  border-radius: 50%;
}
.profile-section .profile-content form input,
.profile-section .profile-content form label {
  font-size: 15px;
}
.profile-section .profile-content form input,
.profile-section .profile-content form select,
.profile-section .profile-content form textarea {
  padding: 10px;
  outline: none;
  box-shadow: none;
}
.profile-section .profile-content form input:focus,
.profile-section .profile-content form select:focus,
.profile-section .profile-content form textarea:focus {
  border: 1px solid #004c70;
}

/*# sourceMappingURL=styles.css.map */
