* {
  direction: rtl;
  font-family: "DIN NEXTTM ARABIC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sep-sm {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.sep-md {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2da860;
}

.text-green {
  color: #327950 !important;
}

.text-brown {
  color: #a07832 !important;
}

.text-grey {
  color: #777777 !important;
}

.text-light-green {
  color: #cdf7de !important;
}

.text-light-brown {
  color: #dcc08f !important;
}

.section-button {
  margin-top: 4rem;
}
.section-button a i {
  vertical-align: middle;
}

.theme-btn {
  position: relative;
  display: inline-block;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: transparent !important;
  color: #327950;
  width: 220px;
  border: 1px solid #327950;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 0.4s;
}
.theme-btn::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #327950;
  transition: all 0.6s;
}
.theme-btn:hover {
  color: #ffffff;
}
.theme-btn:hover::before {
  right: 0;
  z-index: -1;
}

.section-head {
  margin-bottom: 5rem;
}
.section-head span {
  color: #a07832;
}
.section-head .main-head {
  position: relative;
  animation: fadeLeftRight 1.5s ease-in-out;
}
.section-head .head-meta {
  position: relative;
  animation: fadeRightLeft 1.5s ease-in-out;
}

.minimized-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.6s;
}

.swiper:not(.header-swiper) {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 576px) {
  .swiper:not(.header-swiper) {
    padding-bottom: 2.5rem !important;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
  transition: all 0.6s;
}
.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%) scale(0);
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
}
.swiper-pagination.dark .swiper-pagination-bullet {
  border: 2px solid #3fd67e;
}
.swiper-pagination.dark .swiper-pagination-bullet::after {
  background-color: #3fd67e;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 30px;
  height: 30px;
  border: 2px solid #327950;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem;
  color: #327950;
  font-weight: 600;
}

.swiper-button-next {
  right: -60px !important;
}

.swiper-button-prev {
  left: -60px !important;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: -15px !important;
  }

  .swiper-button-prev {
    left: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.job-item {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  border: 1px solid #dde6da;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (max-width: 576px) {
  .job-item {
    grid-template-columns: auto;
  }
}
.job-item .bookmark {
  position: absolute;
  left: 5px;
  top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #d8680c;
  padding: 0.5rem;
}
.job-item .image {
  position: relative;
  width: 80px;
  margin-left: 0.5rem;
  overflow: hidden;
  border-radius: 5px;
}
.job-item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.6s;
}
.job-item .image img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.job-item .title {
  display: block;
  margin-bottom: 0.35rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.job-item .title:hover {
  color: #747474;
}
.job-item .meta {
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}
.job-item .meta a {
  text-decoration: none;
  color: #000000;
}
.job-item .meta .category,
.job-item .meta .location {
  color: #696969;
}
.job-item .meta .category i,
.job-item .meta .location i {
  color: #696969;
}
.job-item .meta .time {
  color: #005085;
}
.job-item .badges .theme-badge {
  font-size: 0.7rem;
  padding: 0.15rem 1rem;
  border-radius: 50px;
}
.job-item .badges .success-badge {
  display: inline-block;
  background-color: #cdffd6;
  color: #327950;
}
.job-item .badges .danger-badge {
  display: inline-block;
  background-color: #ffcdcd;
  color: #ff2525;
}
.job-item .apply-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.2rem 0.5rem;
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #a07832;
  color: #a07832;
}
.job-item .apply-btn::before {
  background-color: #a07832;
}
.job-item .apply-btn:hover {
  color: #ffffff;
}

.how-to-section {
  margin: 6rem 0;
  overflow: hidden;
}
.how-to-section .item {
  position: relative;
  transform: scale(0);
  transition: all 0.6s;
}
.how-to-section .item .head {
  font-size: 1.5rem;
  font-weight: 500;
}
.how-to-section .item .text {
  font-size: 1rem;
  color: #797878;
}
.how-to-section .item .next-arrow-img {
  position: absolute;
  right: 90%;
  top: 10%;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .how-to-section .item .next-arrow-img {
    display: none;
  }
}

.categories-section {
  margin: 3rem 0;
  padding: 3rem 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .categories-section {
    margin: 1rem 0;
    padding: 1rem 0;
  }
}
.categories-section .item:hover a {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.categories-section .item a {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: all 0.5s;
}
.categories-section .item .head {
  font-size: 1.2rem;
  font-weight: 500;
}
.categories-section .item .text {
  color: #a07832;
}

.jobs-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .jobs-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .jobs-section .section-head {
    margin-bottom: 2rem;
  }
}

.testomonial-section {
  position: relative;
  background: linear-gradient(rgba(5, 29, 15, 0.8705882353), rgba(28, 80, 49, 0.6980392157)), url("../../images/slider-4.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.testomonial-section .item {
  color: #ffffff;
  font-size: 1.2rem;
}
.testomonial-section .item .quote {
  margin-bottom: 1.2rem;
}
.testomonial-section .item .writer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.testomonial-section .item .writer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testomonial-section .item .writer .data {
  margin-left: 10px;
}
.testomonial-section .item .writer .data:lang(ar) {
  margin-left: 0;
  margin-right: 10px;
}
.testomonial-section .item .writer .name {
  margin-bottom: 0;
  color: #7ff074;
  font-weight: 600;
}
.testomonial-section .item .writer .position {
  margin-bottom: 0;
  font-size: 0.925rem;
}

.info-section {
  position: relative;
  background: linear-gradient(rgba(3, 24, 12, 0.8705882353), rgba(28, 80, 49, 0.8470588235)), url("../../images/hero_home_02.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #ffffff;
  overflow: hidden;
}
.info-section * {
  transition: all 0.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.info-section .image {
  position: relative;
}
.info-section .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.info-section .text {
  padding: 0 3rem;
}
.info-section .text .head {
  max-width: 550px;
  margin-bottom: 1.5rem;
}
.info-section .text .head p {
  font-weight: 700;
}
.info-section .text .short-desc {
  margin-bottom: 1.5rem;
  max-width: 450px;
  color: #fddec4;
}
.info-section .text .list {
  color: #ffffff;
  margin-bottom: 3rem;
  padding-right: 1rem;
}
.info-section .text .list li {
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.info-section .text .list li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
}
.info-section .text .info-btn {
  border: 1px solid #ffffff;
}
.info-section .text .info-btn::before {
  background-color: #2bc51d;
}

.blogs-section {
  padding: 4rem 1rem;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .blogs-section {
    padding: 1rem;
  }
}
.blogs-section .section-head {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.blogs-section .blog-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.blogs-section .blog-item .title {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.blogs-section .blog-item .title a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.blogs-section .blog-item .entry-meta {
  margin-bottom: 0.625rem;
}
.blogs-section .blog-item .entry-meta small {
  font-size: 0.825rem;
}
.blogs-section .blog-item .entry-meta small a {
  text-decoration: none;
  color: #06619e;
}
.blogs-section .blog-item .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs-section .blog-item .footer-wrapper .links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #DF1B23;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
  color: #ffffff;
  transition: all 0.5s;
}
.blogs-section .blog-item .footer-wrapper .links a.facebook {
  background-color: #06619e;
}
.blogs-section .blog-item .footer-wrapper .links a.facebook:hover {
  background-color: #2b93d8;
}
.blogs-section .blog-item .footer-wrapper .links a.whatsapp {
  background-color: #2cc505;
}
.blogs-section .blog-item .footer-wrapper .links a.whatsapp:hover {
  background-color: #4aeb22;
}
.blogs-section .blog-item .footer-wrapper .links a.twitter {
  background-color: #36a3eb;
}
.blogs-section .blog-item .footer-wrapper .links a.twitter:hover {
  background-color: #59ade6;
}
.blogs-section .blog-item .footer-wrapper .links a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.blogs-section .blog-item .footer-wrapper .read-more {
  width: 120px;
}
.blogs-section .blog-item figure {
  position: relative;
  overflow: hidden;
}
.blogs-section .blog-item figure a img {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: all 0.5s;
}
.blogs-section .blog-item figure a img:hover {
  transform: scale(1.08);
}
.blogs-section .blog-item .entry-meta .rating .fav,
.blogs-section .blog-item .rating .fav {
  color: #f1960c !important;
}

.companies-section {
  overflow: hidden;
}
.companies-section .section-head {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.companies-section .item {
  position: relative;
  text-align: center;
  border: 1px solid #d4d4d4;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}
.companies-section .item .image {
  margin-bottom: 0.825rem;
}
.companies-section .item .image img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s;
}
.companies-section .item .image img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.companies-section .item .name {
  margin-bottom: 0.4rem;
}
.companies-section .item .name a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
.companies-section .item .location {
  margin-bottom: 0.8rem;
}
.companies-section .item .location a {
  color: #838383;
  text-decoration: none;
}
.companies-section .item .action-btn a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  padding: 0.5rem 1.5rem;
  background-color: #2bc51d;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
